{extend name="public:base" /}
{block name="title"}提现说明{/block}
{block name="other_css"}
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left likeA">&#xe95b;</a>
    <h1 class="mui-title">
        提现说明
    </h1>
</header>
<div class="mui-content muiContentTwo">
    <div class="alinestsmBox">
        一、提现相关操作<br/>
        1.用户在56金服平台，进入账户余额-点击提现-填写提现金额-选择是否使用提现券，进入填写存管银行提现页面，正确填写交易密码后即可提现成功<br/>

        2.用户账户有可用资金即可提现，两个小时内到账。<br/>

        A.5万（含）以下提现（24小时）两个小时内到账；<br/>

        B.5万以上提现工作日工作时间（8:00-17:00）两个小时内到账；<br/>

        C.5万以上非工作日工作时间为次工作日到账；<br/>
        <img src="__STATIC__/centImages/a071yx_46.png" alt="">
        3. 温馨提示<br/>

        夜间/节假日期间如有大额提现（单笔5万以上）需求，建议采用多笔小额操作<br/>

        4. 由于银行清算次日到账，当天新充值的资金可用于投资，提现需次日才可提现。<br/>

        二、提现规则<br/>
        1、单笔提现最小金额为20元；<br/>

        2、用户每月享受10次免费提现服务（若有变动根据页面显示为主）；<br/>

        3、超次数提现手续费为每笔2.0元，在提现金额中扣除；<br/>

        4、用户可通过参与平台活动获取更多免费提现券；<br/>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
{/block}