{extend name="public:base" /}
{block name="title"}零钱记录{/block}
{block name="other_css"}
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left likeA">&#xe95b;</a>
    <h1 class="mui-title">
        零钱记录
    </h1>
</header>
<div class="mui-content">
    <ul class="looseclistBox">
        <li class="looseclist df">
            <div class="fx1">
                <div class="looseclistmc">升级红包（达到10级）</div>
                <div class="looseclisttime">2019-08-12 12:23:34</div>
            </div>
            <div class="looseclisttqs">0.30元</div>
        </li>
        <li class="looseclist df">
            <div class="fx1">
                <div class="looseclistmc">升级红包（达到10级）</div>
                <div class="looseclisttime">2019-08-12 12:23:34</div>
            </div>
            <div class="looseclisttqs">0.30元</div>
        </li>
        <li class="looseclist df">
            <div class="fx1">
                <div class="looseclistmc">升级红包（达到10级）</div>
                <div class="looseclisttime">2019-08-12 12:23:34</div>
            </div>
            <div class="looseclisttqs">0.30元</div>
        </li>
        <li class="looseclist df">
            <div class="fx1">
                <div class="looseclistmc">升级红包（达到10级）</div>
                <div class="looseclisttime">2019-08-12 12:23:34</div>
            </div>
            <div class="looseclisttqs">0.30元</div>
        </li>
    </ul>
</div>
{/block}
{block name="footer"}
{__block__}
{/block}