{extend name="public:base" /}
{block name="title"}我的钱包{/block}
{block name="other_css"}
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop myAssetTopqb">
    <a class="mui-action-back mui-icon icon-font mui-pull-left likeA">&#xe95b;</a>
    <h1 class="mui-title">
        我的钱包
    </h1>
    <div class="youbiande mui-pull-right likeA" data-url="{:U('test/loosechang')}">零钱记录</div>
</header>
<div class="mui-content muiContentTwo">
    <div class="nagesatopBox">
        <div class="nagesatoptx">当前余额</div>
        <div class="nagesatoshu">
            <span class="span_1">￥</span>
            <span class="span_2">0.56</span>
        </div>
    </div>
    <div class="nagesContBox">
        <form action="">
            <div class="nagesCtle">提现方式</div>
            <div class="clearfix">
                <div class="nagesCtxfsBox">
                    <div class="nagesCtxfsHe nagesCtxfsHeActive">
                        <img src="__STATIC__/centImages/b03122.png" alt="">
                        <span class="nagesCtxfstx">微信</span>
                        <div class="nagesCtxfsts"><img src="__STATIC__/centImages/2019a071_125.png" alt=""></div>
                    </div>
                </div>
                <div class="nagesCtxfsBox">
                    <div class="nagesCtxfsHe">
                        <img src="__STATIC__/centImages/b03121.png" alt="">
                        <span class="nagesCtxfstx">支付宝</span>
                        <div class="nagesCtxfsts"><img src="__STATIC__/centImages/2019a071_125.png" alt=""></div>
                    </div>
                </div>
                <div class="nagesCtxfsBox">
                    <div class="nagesCtxfsHe">
                        <img src="__STATIC__/centImages/b03123.png" alt="">
                        <span class="nagesCtxfstx">银行卡</span>
                        <div class="nagesCtxfsts"><img src="__STATIC__/centImages/2019a071_125.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="nagesCtle">提现金额</div>
            <div class="clearfix">
                <div class="nagestxjeBox">
                    <div class="nagestxjeone">0.3元</div>
                    <div class="nagestxjetwo">
                        <div class="nagestxjetwoqs">0.3元</div>
                        <div class="nagestxjetwoms">实际到账0.29元</div>
                    </div>
                </div>
                <div class="nagestxjeBox">
                    <div class="nagestxjeone">20元</div>
                    <div class="nagestxjetwo">
                        <div class="nagestxjetwoqs">20元</div>
                        <div class="nagestxjetwoms">实际到账19.40元</div>
                    </div>
                </div>
                <div class="nagestxjeBox">
                    <div class="nagestxjeone">30元</div>
                    <div class="nagestxjetwo">
                        <div class="nagestxjetwoqs">30元</div>
                        <div class="nagestxjetwoms">实际到账29.00元</div>
                    </div>
                </div>
                <div class="nagestxjeBox">
                    <div class="nagestxjeone">40元</div>
                    <div class="nagestxjetwo">
                        <div class="nagestxjetwoqs">40元</div>
                        <div class="nagestxjetwoms">实际到账38.60元</div>
                    </div>
                </div>
                <div class="nagestxjeBox">
                    <div class="nagestxjeone">50元</div>
                    <div class="nagestxjetwo">
                        <div class="nagestxjetwoqs">50元</div>
                        <div class="nagestxjetwoms">实际到账48.20元</div>
                    </div>
                </div>
                <div class="nagestxjeBox">
                    <div class="nagestxjeone">100元</div>
                    <div class="nagestxjetwo">
                        <div class="nagestxjetwoqs">100元</div>
                        <div class="nagestxjetwoms">实际到账96.00元</div>
                    </div>
                </div>
            </div>

            <div class="nageszyshxBox">
                <div class="nageszyshxtl">注意事项</div>
                <div class="nageszyshxCont">
                    <div>1.提现前需绑定微信和<span class="span_1">关注微信服务号</span></div>
                    <div>2.提现将在周一至周五工作日24小时内审批到账，周末不处理审批，请耐心等待</div>
                    <div>3.提现手术费为3%</div>
                    <div>4.提现不到账？请查看<span class="span_1 likeA" data-url="{:U('test/alinstructions')}">提现说明</span></div>
                </div>
            </div>

            <div class="nagesbtnBox">
                <button class="nagesbtn" type="submit">立即提现</button>
            </div>

        </form>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    mui('body').on('tap', '.nagesCtxfsHe', function() {
        $(this).addClass('nagesCtxfsHeActive');
        $(this).parent('.nagesCtxfsBox').siblings('.nagesCtxfsBox').find('.nagesCtxfsHe').removeClass('nagesCtxfsHeActive');
    });

    mui('body').on('tap', '.nagestxjeBox', function() {
        if($(this).find('.nagestxjetwo').css('display') == 'none'){
            $(this).addClass('nagestxjeoneActive');
            $(this).siblings('.nagestxjeBox').removeClass('nagestxjeoneActive');
            $('.nagesbtn').addClass('nagesbtnActive');
        }else{
            $(this).removeClass('nagestxjeoneActive');
            $(this).siblings('.nagestxjeBox').removeClass('nagestxjeoneActive');
            $('.nagesbtn').removeClass('nagesbtnActive');
        }
    });
</script>
{/block}