{extend name="public:base" /}
{block name="title"}奖金日志{/block}
{include file="public/header" /}
{block name="other_css"}
<!--刷新加载插件 s-->
<link rel="stylesheet" type="text/css" href="__STATIC__/css/mescroll.min.css" />
<!--刷新加载插件 e-->
<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.picker.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.poppicker.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.dtpicker.css" />
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
    <h1 class="mui-title">
        奖金日志
    </h1>
</header>
<div class="selectSearch">
    <form id='form1'>
        <input type="hidden" name="type" autocomplete="off" />
        <input type="hidden" name="order" autocomplete="off" />
        <input type="hidden" name="sort" autocomplete="off" />
        <input type="hidden" name="add_time" autocomplete="off" />
        <input type="hidden" name="end_time" autocomplete="off" />
        <input type="hidden" name="kwd" autocomplete="off" />
    </form>
    <div class="df">
        <div class="fx1 selectSeaAn">分类 <i class="fa fa-caret-down i"></i></div>
        <div class="selectSeaTab">
            <span class="seleSpan leixing cat_Cli" data-url="{:U('Bonus/logBonus')}">全部</span>
        </div>
        <div class="fx1 selectSeaAn">日期 <i class="fa fa-caret-down i"></i></div>
        <div class="selectSeaTab">
            <div class="df selectSeaInputBox">
                <div class="fx1"><input type="text" class="mui-input-clear selectSeaInput" name="add_time" autocomplete="off" id='add_time' value="" placeholder="请输入日期"></div>
                <div class="selectSeaTx">至</div>
                <div class="fx1"><input type="text" class="mui-input-clear selectSeaInput" name="end_time" autocomplete="off" id='end_time' value="" placeholder="请输入日期"></div>
                <button class="selectSeaAniu shijian time_Cli" type="button"></button>
            </div>
        </div>
        <div class="fx1 selectSeaAn">排序 <i class="fa fa-caret-down i"></i></div>
        <div class="selectSeaTab">
            <span class="seleSpan order_CLi" data-order='add_time' data-sort='asc'>按时间正序排序</span>
            <span class="seleSpan order_CLi" data-order='out_time' data-sort='desc'>按时间倒序排序</span>
        </div>
        <!--<div class="fx1 selectSeaAn">搜索 <i class="fa fa-caret-down i"></i></div>-->
        <!--<div class="selectSeaTab">-->
        <!--<div class="df selectSeaInputBox">-->
        <!--<div class="fx1"><input type="text" id='kwd' class="mui-input-clear selectSeaInput" placeholder="请输入关键字搜索"></div>-->
        <!--<button class="selectSeaAniu kwd_Cli"></button>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div id="mescroll" class="mescroll">
    <ul class="recordUl" id="recordUls" style="padding-top:0px;">

    </ul>
</div>
{/block}
{block name="footer"}
{__block__}
<!--刷新加载插件 s-->
<script src="__STATIC__/js/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<!--刷新加载插件 s-->
<script src="__STATIC__/js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/mui.dtpicker.js" type="text/javascript" charset="utf-8"></script>

<script>
    var dtPicker = new mui.DtPicker({type:'date'});
    var dtPicker2 = new mui.DtPicker({type:'date'});
    mui('body').on('tap', '#add_time', function(){
        var obj = $(this);
        dtPicker.show(function (selectItems) {
            $(obj).val(selectItems.value);
        })
    });
    mui('body').on('tap', '#end_time', function(){
        var obj = $(this);
        dtPicker2.show(function (selectItems) {
            $(obj).val(selectItems.value);
        })
    });

    $(function(){
        //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,重置列表数据;
        var mescroll = new MeScroll("mescroll", {
            down:{
                auto:false //是否在初始化完毕之后自动执行下拉回调callback; 默认true; (注: down的callback默认调用 mescroll.resetUpScroll(); )
//					callback: function(mescroll) {
//						mescroll.resetUpScroll(); //下拉刷新的回调,默认重置上拉加载列表为第一页
//					},
            },
            up: {
                callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
                clearEmptyId: "dataList", //1.下拉刷新时会自动先清空此列表,再加入数据; 2.无任何数据时会在此列表自动提示空
                isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                noMoreSize: 3, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
                empty: {
                    //列表第一页无任何数据时,显示的空提示布局; 需配置warpId或clearEmptyId才生效;
                    //warpId:null, //父布局的id; 如果此项有值,将不使用clearEmptyId的值;
                    icon: "../res/img/mescroll-empty.png", //图标,默认null
                    tip: "亲,没有您要找的商品~", //提示
//						btntext: "去逛逛 >", //按钮,默认""
//						btnClick: function(){//点击按钮的回调,默认null
//							alert("点击了按钮,具体逻辑自行实现");
//						}
                },
                toTop:{ //配置回到顶部按钮
                    //src : "../res/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                    html : "<p>^<br/>顶部<p>", //标签内容,默认null; 如果同时设置了src,则优先取src
                    offset : 500
                },
                lazyLoad: {
                    use: true // 是否开启懒加载,默认false
                }
            }
        });

        //当前关键词
        var curWord=null;

        //热门搜索
        $(".hot-words li").click(function() {
            curWord=this.innerText; //更新关键词
            mescroll.resetUpScroll(); //重新搜索,重置列表数据
        })

        //搜索按钮
        $("#search").click(function(){
            var word=$("#keyword").val();
            if(word){
                curWord=word; //更新关键词
                mescroll.resetUpScroll(); //重新搜索,重置列表数据
            }
        })

        /*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
        function getListData(page){
            //联网加载数据
            getListDataFromNet(curWord, page.num, page.size, function(curPageData){
                //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
                //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
                console.log("page.num="+page.num+", page.size="+page.size+", curPageData.length="+curPageData.length);

                //方法一(推荐): 后台接口有返回列表的总页数 totalPage
                //mescroll.endByPage(curPageData.length, totalPage); //必传参数(当前页的数据个数, 总页数)

                //方法二(推荐): 后台接口有返回列表的总数据量 totalSize
                //mescroll.endBySize(curPageData.length, totalSize); //必传参数(当前页的数据个数, 总数据量)

                //方法三(推荐): 您有其他方式知道是否有下一页 hasNext
                //mescroll.endSuccess(curPageData.length, hasNext); //必传参数(当前页的数据个数, 是否有下一页true/false)

                //方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据,如果传了hasNext,则翻到第二页即可显示无更多数据.
                mescroll.endSuccess(curPageData.length);

                //提示:curPageData.length必传的原因:
                // 1.判断是否有下一页的首要依据: 当传的值小于page.size时,则一定会认为无更多数据.
                // 2.比传入的totalPage, totalSize, hasNext具有更高的判断优先级
                // 3.使配置的noMoreSize生效

                //设置列表数据,因为配置了emptyClearId,第一页会清空dataList的数据,所以setListData应该写在最后;
                setListData(curPageData);
            }, function(){
                //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                mescroll.endErr();
            });
        }

        /*设置列表数据*/
        function setListData(curPageData){
            var listDom=document.getElementById("dataList");
            for (var i = 0; i < curPageData.length; i++) {
                var pd=curPageData[i];

                var str='<img class="pd-img" src="../res/img/loading-sq.png" imgurl="'+pd.pdImg+'"/>';
                str+='<p class="pd-name">'+pd.pdName+'</p>';
                str+='<p class="pd-price">'+pd.pdPrice+' 元</p>';
                str+='<p class="pd-sold">已售'+pd.pdSold+'件</p>';

                var liDom=document.createElement("li");
                liDom.innerHTML=str;
                listDom.appendChild(liDom);
            }
        }

        /*联网加载列表数据
         在您的实际项目中,请参考官方写法: http://www.mescroll.com/api.html#tagUpCallback
         请忽略getListDataFromNet的逻辑,这里仅仅是在本地模拟分页数据,本地演示用
         实际项目以您服务器接口返回的数据为准,无需本地处理分页.
         * */
        function getListDataFromNet(curWord, pageNum,pageSize,successCallback,errorCallback) {
            //延时一秒,模拟联网
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: '../res/pdlist1.json',
//		                url: '../res/pdlist1.json?num='+pageNum+"&size="+pageSize+"&word="+curWord,
                    dataType: 'json',
                    success: function(dataAll){
                        //模拟服务器接口的搜索
                        var data=[];
                        for (var i = 0; i < dataAll.length; i++) {
                            if (dataAll[i].pdName.indexOf(curWord)!=-1) {
                                data.push(dataAll[i]);
                            }
                        }
                        //模拟服务器接口的分页
                        var listData=[];
                        for (var i = (pageNum-1)*pageSize; i < pageNum*pageSize; i++) {
                            if(i==data.length) break;
                            listData.push(data[i]);
                        }

                        successCallback(listData);
                    },
                    error: errorCallback
                });
            },500)
        }

    });

    // 类型搜索 s
    mui('body').on('tap', '.cat_Cli', function(){
        $('input[name="type"]').val($(this).data('id'));
        $(this).parents('.selectSeaTab').toggle();
        downCallback();
    });
    // 类型搜索 e
    // 时间搜索 s
    mui('body').on('tap', '.time_Cli', function(){
        $('input[name="add_time"]').val($('#add_time').val());
        $('input[name="end_time"]').val($('#end_time').val());
        $(this).parents('.selectSeaTab').toggle();
        downCallback();
    });
    mui('body').on('tap', '.time_Cli_Clear', function(){
        $('#add_time').val('');
        $('#end_time').val('');
        $('input[name="add_time"]').val('');
        $('input[name="end_time"]').val('');
        $(this).parents('.selectSeaTab').toggle();
        downCallback();
    });
    // 时间搜索 e
    // 排序 s
    mui('body').on('tap', '.order_CLi', function(){
        $('input[name="order"]').val($(this).data('order'));
        $('input[name="sort"]').val($(this).data('sort'));
        $(this).parents('.selectSeaTab').toggle();
        downCallback();
    });
    // 排序 e
    // 关键字搜索 s
    mui('body').on('tap', '.kwd_Cli', function(){
        $('input[name="kwd"]').val($('#kwd').val());
        $(this).parents('.selectSeaTab').toggle();
        downCallback();
    });
    // 关键字搜索 e

    //弹出搜索
    mui('body').on('tap',".selectSeaAn",function() {
        $(this).next('.selectSeaTab').siblings('.selectSeaTab').hide();
        if($(this).next('.selectSeaTab').css('display') == 'none'){
            $(this).next('.selectSeaTab').show();
        }else{
            $(this).next('.selectSeaTab').hide();
        }
    });
</script>
{/block}
