{foreach ($blockTransformLogInfo as $v)}
<li class="tradparLi df likeA" data-url="{:U('BlockTransform/transformDetail', ['id' => $v['id']])}">
    <div class="tradparLiimg"><img src="__STATIC__/centImages/x_1.png" alt=""></div>
    <div class="fx1">
        <div class="tradparLitx">{$blockNames[$v['bid']]}转换{$blockNames[$v['to_bid']]}</div>
        <div class="tradparLitime">{:date('Y-m-d H:i:s', $v['add_time'])}</div>
    </div>
    <div class="tradparLishu_3">{$v['money']}</div>
</li>
{/foreach}
