{extend name="public:base" /}
{block name="title"}敬请期待{/block}
{block name="other_css"}
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop" style="border:none;">
    <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>

</header>
<div class="mui-content">
    <div style="margin-top:55%;text-align: center">
        <img src="__STATIC__/centImages/by_24.png" style="width:3.3em;" alt="">
        <div style="color:#fff;margin-top:15px;font-size:0.9em;">敬请期待</div>
    </div>
</div>

{/block}
{block name="footer_nav"}
{/block}
{block name="footer"}
{__block__}
{/block}