{extend name="public:base" /}
{block name="title"}钱包转账{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
    <h1 class="mui-title">
        {$moneyNames[$moneyId]}转账
    </h1>
    <div class="mui-icon icon-font mui-pull-right likeA" data-url="{:U('MoneyChange/indexChange',['mid'=>$moneyId])}"><img src="__STATIC__/centImages/jilu_1.png" alt="" style="height:20px;"></div>
</header>
<div class="mui-content">
    <div class="neirongText">
        <form class="contentForm">
            <input type="hidden" name="money_id" value="{$moneyId}">
            <div class="muiInputRowsan">
                <div class="sanTl">{$moneyNames[$moneyId]}转账</div>
                <div class="mui-input-row">
                    <input type="text" value="{$userMoney|default='0.00'}" disabled autocomplete="off" class="mui-input-clear muiInput" placeholder="余额">
                </div>
            </div>
            <div class="muiInputRowsan">
                <div class="sanTl">对方手机号</div>
                <div class="mui-input-row">
                    <input type="text" name="toAccount" value="" autocomplete="off" class="mui-input-clear muiInput" placeholder="输入对方手机号">
                </div>
            </div>
            <div class="muiInputRowsan">
                <div class="sanTl">转出数量</div>
                <div class="mui-input-row">
                    <input type="text" name="toNum" value="" autocomplete="off" class="mui-input-clear muiInput" placeholder="请输入转出数量">
                </div>
            </div>
            <div class="muiInputRowsan">
                <div class="sanTl">二级密码</div>
                <div class="mui-input-row">
                    <input type="password" name="secpwd" value="" autocomplete="off" class="mui-input-clear muiInput" placeholder="输入二级密码">
                </div>
            </div>
            <div class="gonggButtonda">
                <button type="button" class="mui-btn gonggButton">提交</button>
            </div>
        </form>
    </div>
</div>
{/block}
{/block}
{block name="footer"}
{__block__}
<script>
    var mask=mui.createMask();
    mui('body').on('tap', '.gonggButton', function () {
        var obj = $(this);
        var data = $('.contentForm').serialize();
        $(obj).attr('disabled', 'true');
        mui.showLoading("提交中","div");
        mask.show();//显示遮罩层
        $.ajax({
            type: 'post',
            url: '{:U("")}',
            data: data,
            dataType: 'json',
            success: function (res) {
                console.log(res);
                mask.close();//关闭遮罩层
                mui.hideLoading();
                if (res.code == 1) {
                    mui.toast('操作成功', {duration: '2000', type: 'div'});
                    setTimeout(function () {
                        window.location.href = "{:U('MoneyChange/indexChange')}?mid="+{$moneyId};
                    }, 1000);
                } else if (res.code == -2){
                    $(obj).removeAttr('disabled');
                    mui.toast(res.msg);
                    setTimeout(function () {
                        window.location.href = "{:U('User/saveSecpwd')}";
                    }, 1000);
                    return false;
                }else if (res.code == -1){
                    $(obj).removeAttr('disabled');
                    return mui.toast(res.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                return mui.toast('网络失败，请刷新页面后重试', {duration: '2000', type: 'div'});
            }
        });
    });
</script>

{/block}
