{extend name="public:base" /}
{block name="title"}呢称修改{/block}
{block name="other_css"}
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
    <h1 class="mui-title">呢称修改</h1>
</header>
<div class="mui-content">
    <div class="neirongText">
        <form class="contentForm">
            <div class="muiInputRowsan">
                <div class="sanTl">用户呢称</div>
                <div class="mui-input-row">
                    <input type="text" name="nickname" value="{$userInfo['nickname']}" autocomplete="off" class="mui-input-clear muiInput" placeholder="会员名称">
                </div>
            </div>
            <div class="gonggButtonda">
                <button type="button" class="mui-btn gonggButton">提交</button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    var mask=mui.createMask();
    mui('body').on('tap', '.gonggButton', function() {
        var obj = $(this);
        $(obj).attr('disabled', 'true');
        var data = $('.contentForm').serialize();
        console.log(data);
        var url = "{:U('')}";
        mui.showLoading("提交中","div");
        mask.show();//显示遮罩层
        $.ajax({
            type: 'post',
            url: url,
            data: data,
            dataType: 'json',
            success: function (res) {
                mask.close();//关闭遮罩层
                mui.hideLoading();
                if (res.code == 1) {
                    mui.toast(res.msg, {duration: '1000', type: 'div'});
                    setTimeout(function () {
                        window.location.href = "{:U('User/setUp')}";
                    }, 1000);
                } else {
                    $(obj).removeAttr('disabled');
                    return mui.toast(res.msg, {duration: '2000', type: 'div'});
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                return mui.toast('网络失败，请刷新页面后重试', {duration: '2000', type: 'div'});
            }
        });

    });
</script>
{/block}
