{extend name="public:base" /}
{block name="title"}设置{/block}
{block name="other_css"}
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
    <h1 class="mui-title">设置</h1>
</header>
<div class="mui-content">
    <div class="rsgsetBox">
        <div class="rsgsetHe df likeA" data-url="{:U('User/saveNickname')}">
            <div class="rsgsetdata fx1">用户名</div>
            <div class="rsgsetts_1">{$user['nickname']}</div>
            <div class="rsgsetzhgx"><i class="mui-icon mui-icon-arrowright i"></i></div>
        </div>
        <div class="rsgsetHe df">
            <div class="rsgsetdata fx1">当前账户</div>
            <div class="rsgsetts_1">{$user['account']}</div>
        </div>
    </div>
    <div class="rsgsetBox">
        <div class="rsgsetHe df likeA" data-url="{:U('User/saveLoginPassword')}">
            <div class="rsgsetdata fx1">登录密码</div>
            <div class="rsgsetzhgx"><i class="mui-icon mui-icon-arrowright i"></i></div>
        </div>
        <div class="rsgsetHe df likeA" data-url="{:U('User/saveSecpwd')}">
            <div class="rsgsetdata fx1">二级密码</div>
            <div class="rsgsetzhgx"><i class="mui-icon mui-icon-arrowright i"></i></div>
        </div>
        <div class="rsgsetHe df likeA" data-url="{:U('User/payInfo')}">
            <div class="rsgsetdata fx1">收款账户</div>
            <div class="rsgsetzhgx">
                <img src="__STATIC__/centImages/b03121.png" alt="">
                <img src="__STATIC__/centImages/b03122.png" alt="">
                <img src="__STATIC__/centImages/b03123.png" alt="">
                <i class="mui-icon mui-icon-arrowright i"></i>
            </div>
        </div>
    </div>
    <div class="rsgsetBox">
        <div class="rsgsetHe df likeA" data-url="{:U('User/aboutInfo')}">
            <div class="rsgsetdata fx1">关于我们</div>
            <div class="rsgsetzhgx"><i class="mui-icon mui-icon-arrowright i"></i></div>
        </div>
    </div>
    <div class="logout anquntuichuAn">安全退出</div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    //退出
    mui('body').on('tap', ".logout", function () {
        var btnArray = ['确认', '取消'];
        mui.confirm('是否确认退出？', '温馨提示', btnArray, function (e) {
            if (e.index == 0) {
                $.ajax({
                    type: 'GET',
                    url: '{:U("User/outLogin")}',
                    success: function(data){
                        console.log(data);
                        if (data.code == 0){
                            window.location.href = "{:U('Login/accountindex')}";
                        }
                    },
                });
            }
        },'div');
    });
</script>
{/block}
