<nav class="mui-bar mui-bar-tab navWeiBox">
    <div data-url="{:U('User/index')}" {if ($controller == 'User') && ($action == 'index')}class="mui-tab-item likeA navWeiImgActive"{else /}class="mui-tab-item likeA"{/if}>
        <div class="navWeiImg_1">
            <img src="__STATIC__/centImages/2019a071_2.png" alt="" class="img_1">
            <img src="__STATIC__/centImages/2019a071_1.png" alt="" class="img_2">
        </div>
        <div class="mui-tab-label span_1">主页</div>
    </div>
    <div data-url="{:U('Extend/index')}" {if ($controller == 'Extend') && ($action == 'index')}class="mui-tab-item likeA navWeiImgActive"{else /}class="mui-tab-item likeA"{/if}>
        <div class="navWeiImg_1">
            <img src="__STATIC__/centImages/2019a071_4.png" alt="" class="img_1">
            <img src="__STATIC__/centImages/2019a071_3.png" alt="" class="img_2">
        </div>
        <div class="mui-tab-label span_1">游戏</div>
    </div>
	<!--<div data-url="http://shop.xmlianke.top/index.php?r=index/wap" class="mui-tab-item likeA">
        <div class="navWeiImg_1">
            <img src="__STATIC__/centImages/shop.png" alt="" class="img_1">
            <img src="__STATIC__/centImages/shop.png" alt="" class="img_2">
        </div>
        <div class="mui-tab-label span_1">商城</div>
    </div>-->
    <div data-url="{:U('Assets/assetsIndex')}" {if ($controller == 'Assets') && ($action == 'assetsindex')}class="mui-tab-item likeA navWeiImgActive"{else /}class="mui-tab-item likeA"{/if}>
        <div class="navWeiImg_1">
            <img src="__STATIC__/centImages/2019a071_6.png" alt="" class="img_1">
            <img src="__STATIC__/centImages/2019a071_5.png" alt="" class="img_2">
        </div>
        <div class="mui-tab-label span_1">财富</div>
    </div>
    <div data-url="{:U('User/myInfo')}" {if ($controller == 'User') && ($action == 'myinfo')}class="mui-tab-item likeA navWeiImgActive"{else /}class="mui-tab-item likeA"{/if}>
        <div class="navWeiImg_1">
            <img src="__STATIC__/centImages/2019a071_10.png" alt="" class="img_1">
            <img src="__STATIC__/centImages/2019a071_9.png" alt="" class="img_2">
        </div>
        <div class="mui-tab-label span_1">我的</div>
    </div>
</nav>
