{extend name="public:base" /}
{block name="body"}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">颜色</label>
                            <div class="layui-input-inline" style="width: 120px;">
                                <input type="text" name="color" value="{$info['color']}" placeholder="请选择颜色" class="layui-input" id="form_color">
                            </div>
                            <div class="layui-inline" style="left: -11px;">
                                <div id="leader_color"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name_cn" value="{$info['name_cn']}" class="layui-input" lay-verify="required" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">奖金比例</label>
                            <div class="layui-input-inline">
                                <input type="number" name="per" value="{$info['per']|floatval}" placeholder="比例" class="layui-input" lay-verify="required" autocomplete="off"/>
                            </div>
                            <div class="layui-form-mid">%</div>
                        </div>
                        <fieldset class="layui-elem-field site-demo-button" style="padding:10px;">
                            <legend>升级条件</legend>
                            <div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">会员等级</label>
                                    <div class="layui-input-inline">
                                        <select name="level_id" autocomplete="off">
                                            <option value="">--请选择--</option>
                                            {foreach $levelNames as $k=>$v}
                                            <option value="{$k}" {$k == $info['level_id'] ? 'selected' : ''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="layui-form-item layui-hide">
                            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    layui.use(['form', 'colorpicker'], function () {
        var form = layui.form, colorpicker = layui.colorpicker;
        colorpicker.render({
            elem: '#leader_color'
            , color: '{$info["color"]}'
            , done: function (color) {
                $('#form_color').val(color);
            }
        });

    });
</script>
{/block}
