{extend name="public:base" /}
{block name="other_css"}
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">提现数量</label>
                            <div class="layui-input-block">
                                <input type="text" disabled value="{$info['add_num']|floatval}" class="layui-input" lay-verify="required" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">到账数量</label>
                            <div class="layui-input-block">
                                <input type="text" disabled value="{$info['out_num']|floatval}" class="layui-input" lay-verify="required" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">提现地址</label>
                            <div class="layui-input-block">
                                <input type="text" disabled value="{$info['user_address']}" class="layui-input" lay-verify="required" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">拒绝理由</label>
                            <div class="layui-input-block">
                                <textarea name="refuse_content" class="layui-textarea" placeholder="请输入拒绝理由"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide">
                            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    layui.use(['form', 'upload', 'slider'], function () {
        var form = layui.form, upload = layui.upload;
    });
</script>
{/block}
