{extend name="public:base" /}
{block name="body"}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">系统</label>
                            <div class="layui-input-block">
                                <select name="system" autocomplete="off" lay-verify="required">
                                    <option value="android">安卓</option>
                                    <option value="ios">IOS</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">版本号</label>
                            <div class="layui-input-block">
                                <input type="text" name="version" class="layui-input" lay-verify="required" placeholder="请输入版本号" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">更新地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="update_url" class="layui-input" lay-verify="required" placeholder="请输入更新地址" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">更新内容</label>
                            <div class="layui-input-block">
                                <textarea name="update_content" autocomplete="off" class="layui-textarea" lay-verify="required" placeholder="请输入更新内容"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide">
                            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    layui.use(['form', 'colorpicker'], function () {
        var form = layui.form, colorpicker = layui.colorpicker;

    });
</script>
{/block}
