{extend name="public:base" /}
{block name="title"}手机号登录{/block}
{block name="other_css"}
{/block}
{block name="body"}
    <div class="mui-content">
        <div class="LoginImgbox">
            <img src="{:get_img_domain()}{:zf_cache('web_info.web_logo')}" alt="" class="LoginImg_1">
        </div>
        <div class="LoginText">
            <form class="regForm">
                <div class="muiInputRow">
                    <div class="mui-input-row">
                        <input type="text" name="mobile" autocomplete="off" class="mui-input-clear muiInput" placeholder="会员手机号码">
                    </div>
                </div>
                {if (zf_cache('sms_info.verif_code') == 1)}
                <div class="muiInputRow">
                    <div class="mui-input-row" style="position: relative;">
                        <input type="text" id="verifyCode" name="verify_code" autocomplete="off" class="mui-input-clear muiInput" placeholder="请输入验证码">
                        <img src="/verify?type=home_login" alt="" onclick="refreshVerify();" class="yzmaImg Home_Login_Yzm">
                    </div>
                </div>
                {/if}
                <div class="muiInputRow">
                    <div class="mui-input-row" style="position: relative;">
                        <input type="text" name="mobile_code" autocomplete="off" class="mui-input-clear muiInput" placeholder="输入手机验证码">
                        <div class="yzmaImgWZzfmlg" onclick="send_sms_reg_code(this)">
                            获取验证码
                        </div>
                    </div>
                </div>
                <div class="gonggButtonda" style="padding-top:20px;">
                    <button type="button" class="mui-btn mobileLogin gonggButton">立即登录</button>
                </div>
                <div class="linkACZuo">
                    <span class="span_1 linkACZuobd likeA" data-url="{:U('Reg/index')}">立即注册</span>
                    <span class="likeA" data-url="{:U('login/accountIndex')}">密码登录</span>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="footer"}
{__block__}
<script src="__STATIC__/js/validate.js"></script>
<script>
    var mask=mui.createMask();
    mui('body').on('tap', '.mobileLogin', function () {
        var obj = $(this);
        var data = $('.regForm').serialize();
        $(obj).attr('disabled', 'true');
        mui.showLoading("登录中","div");
        mask.show();//显示遮罩层
        $.ajax({
            type: 'post',
            url: '{:U("")}',
            data: data,
            dataType: 'json',
            success: function (res) {
                console.log(res);
                mask.close();//关闭遮罩层
                mui.hideLoading();
                if (res.code == 1) {
                    mui.toast('登录成功', {duration: '2000', type: 'div'});
                    setTimeout(function () {
                        window.location.href = "{:U('User/Index')}";
                    }, 2000);
                } else {
                    refreshVerify();
                    $(obj).removeAttr('disabled');
                    return mui.toast(res.msg, {duration: '2000', type: 'div'});
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                return mui.toast('网络失败，请刷新页面后重试', {duration: '2000', type: 'div'});
            }
        });
    });


    function refreshVerify()
    {
        $('.Home_Login_Yzm').attr('src', "/verify?type=home_login");
    }

    var smsObj = [];
    // 发送手机短信
    function send_sms_reg_code(obj){
        smsObj = obj;
        var mobile = $('input[name="mobile"]').val();
        if(!check_mobile(mobile)){
            mui.toast('请输入正确的手机号',{ duration:'long', type:'div' });
            return;
        }

        {if (zf_cache('sms_info.verif_code') == 1)}
            var code = $('#verifyCode').val();
            var data = {mobile:mobile,code:code,check_code:'home_login'};
        {else /}
            var data = {mobile:mobile};
        {/if}

        var url = "/sendSms/2";
        mui.showLoading("正在发送","div");
        mask.show();//显示遮罩层
        $.post(url, data, function(data){
            mask.close();//关闭遮罩层
            mui.hideLoading();
            if(data.code == 1){
                $(smsObj).removeAttr('onclick');
                intAs = {:zf_cache('sms_info.send_sms_time_out')}; // 手机短信超时时间
                jsInnerTimeout(intAs);
                mui.toast(data.msg,{ duration:'long', type:'div' });
            } else {
                refreshVerify();
                mui.toast(data.msg,{ duration:'long', type:'div' });
            }
        });
    }

    //倒计时函数
    function jsInnerTimeout(intAs){
        intAs--;
        if(intAs<=-1){
            $(smsObj).attr('onclick', 'send_sms_reg_code(this)');
            $(smsObj).text("获取验证码");
            return true;
        }
        $(smsObj).text(intAs+'s');
        setTimeout("jsInnerTimeout("+intAs+")",1000);
    };
</script>
{/block}