{extend name="public:base" /}
{block name="title"}系统公告{/block}
{include file="public/header" /}
{block name="other_css"}
<!--刷新加载插件 s-->
<link rel="stylesheet" type="text/css" href="__STATIC__/css/mescroll.min.css" />
<!--刷新加载插件 e-->
<style>
    .mescroll{
        position: fixed;
        top: 54px;
        left:0px;
        width:100%;
        bottom: 0;
        height: auto;
    }
</style>
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-icon icon-font mui-pull-left likeA" data-url="{:U('User/index')}">&#xe95b;</a>
    <h1 class="mui-title"> 系统公告</h1>
</header>
<div id="mescroll" class="mescroll">
    <div id="content" class="tradparUl" style="padding-top:0px;">
    </div>
</div>
{/block}
{block name="footer"}
<!--刷新加载插件 s-->
<script src="__STATIC__/js/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<!--刷新加载插件 s-->
{__block__}
<script>
    //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,重置列表数据;
    var mescroll = new MeScroll("mescroll", {
        up: {
            callback: getListDataFromNet, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
            isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
            clearEmptyId: "content", //1.下拉刷新时会自动先清空此列表,再加入数据; 2.无任何数据时会在此列表自动提示空
            toTop:{ //配置回到顶部按钮
                src : "__STATIC__/centImages/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                //offset : 1000
            },
            lazyLoad: {
                use: true // 是否开启懒加载,默认false
            }
        }
    });
    function downCallback() {
        mescroll.resetUpScroll();//重新搜索,重置列表数据
    }
    function getListDataFromNet(page) {
        //延时一秒,模拟联网
        $.ajax({
            type: 'GET',
            url: '{:U("")}?p='+(page.num -1),
            // url: '../res/pdlist'+dataTag+'.json',
//		                url: '../res/pdlist1.json?num='+pageNum+"&size="+pageSize,
//                     dataType: 'json',
            success: function(data){
                var count = 10;
                if(data == '') {
                    mescroll.endSuccess(count, false);
                } else {
                    mescroll.endSuccess(count);
                }
                $('#content').append(data);
            },
            error: function (){
                mescroll.endErr();
            }
        });
    }
</script>
{/block}