{extend name="public:base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    所属筛选
                </div>
                <div class="layui-inline">
                    <select name="group_name" lay-filter="group_type">
                        <option value="">全部目录</option>
                        <option value="admin">后台</option>
                        <option value="seller">商家后台</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="menu_list" lay-filter="menu_list"></table>
            <script type="text/html" id="options">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            </script>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    layui.use(['layer', 'table', 'form'], function () {
        var table = layui.table, form = layui.form;
        var tableId = 'menu_list';
        var options = {
            id: tableId,
            url: '{:url("")}',
            elem: '#'+tableId,
            height: 'full-200',
            cols: [[
                {field: 'title', title: '菜单名称'},
                {field: 'sort', title: '排序'},
                {field: 'group_name', title: '权限所属'},
                {title: '操作', templet: '#options'}
            ]],
            // skin: 'line', //行边框风格
            even: true, //开启隔行背景
            size: 'sm', //小尺寸的表格
        };

        table.render(options);
        table.on('tool('+tableId+')', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var tr = $(obj.tr);

                var url = '{:url("editMenu")}?id=' + data.id;
                layer.open({
                    type: 2
                    , title: '编辑菜单'
                    , content: url
                    , area: ['500px', '370px']
                    , shadeClose: true
                    , btnAlign: 'c'
                    , maxmin: true
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submit = layero.find('iframe').contents().find("#submitBtn");

                        //监听提交
                        iframeWindow.layui.form.on('submit(submitBtn)', function (data) {
                            var field = data.field; //获取提交的字段

                            var loadAdd = layer.msg('提交中', {icon: 16, time: 0, shade: 0.1, offset: '15px'});
                            $.post(url, field, function (res) {
                                layer.close(loadAdd);
                                if (res.code == 1) {
                                    table.reload(tableId); //数据刷新
                                    layer.close(index); //关闭弹层
                                    layer.msg(res.msg, {icon: 6, offset: '15px'});
                                } else {
                                    layer.msg(res.msg, {icon: 5, offset: '15px'});
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                    , success: function (layero, index) {

                    }
                })

            }
        });
        form.on('select(group_type)', function (data) {
            //执行重载
            table.reload(tableId, {
                where: {
                    group_name: data.value
                }
            });
        });

    });
</script>
{/block}


