{extend name="public:base" /}
{block name="title"}留言列表{/block}
{include file="public/header" /}
{block name="other_css"}
<!--刷新加载插件 s-->
<link rel="stylesheet" type="text/css" href="__STATIC__/css/mescroll.min.css" />
<!--刷新加载插件 e-->
<style>
    .mescroll{
        position: fixed;
        top: 44px;
        left:0px;
        width:100%;
        bottom: 0;
        height: auto;
    }
    .tempContainer {
        position: fixed;
        left:0px;
        top:0px !important;
        right:0px;
        bottom:0px;
        text-align: center;
        z-index: 100000000000000000001;
        background: rgba(0,0,0,0.6);
        overflow:scroll;
        overflow-y:scroll;
        padding:10px;
    }
    .tempContainer img {
        width:100%;
    }
</style>
{/block}
{block name="body"}
<header class="mui-bar mui-bar-nav myAssetTop">
    <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
    <h1 class="mui-title">
        留言列表
    </h1>
</header>
<div id="mescroll" class="mescroll">
    <ul id="content" class="tradparUl">

    </ul>
</div>

{/block}
{block name="footer"}
<!--刷新加载插件 s-->
<script src="__STATIC__/js/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<!--刷新加载插件 s-->
{__block__}
{js href='__STATIC__/js/previewImage.js' /}
<script>
    mui('body').on('tap', '.show_img_detail', function(){
        var showImgs = [];
        var uploadShowImgs = $(this).parents('.imgshowdiv').find('img');
        $(uploadShowImgs).each(function(e) {
            showImgs.push($(uploadShowImgs[e]).attr('src'));
        });
        var obj = {
            urls : showImgs,
            current : $(this).attr('src')
        };
        previewImage.start(obj);
    });
</script>
<script>
    mui("body").on('tap','.meshifAn',function(){
        if($(this).parent('div').siblings('.meshuiCont').css('display') == 'none'){
            $(this).parent('div').siblings('.meshuiCont').css('display','block');
        }else {
            $(this).parent('div').siblings('.meshuiCont').css('display','none');
        }
    });
</script>
<script>
    //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,重置列表数据;
    var mescroll = new MeScroll("mescroll", {
        up: {
            callback: getListDataFromNet, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
            isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
            clearEmptyId: "content", //1.下拉刷新时会自动先清空此列表,再加入数据; 2.无任何数据时会在此列表自动提示空
            noMoreSize: 1,
            htmlNodata: '<p class="upwarp-nodata">-- END --</p>',
            page:{
                size:10
            },
            empty: {
                //列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
                warpId:	"mescroll", //父布局的id (1.3.5版本支持传入dom元素)
                icon: "__STATIC__/centImages/no_data.png", //图标,默认null,支持网络图
                tip: "暂无留言记录" //提示
            },
            toTop:{ //配置回到顶部按钮
                src : "__STATIC__/centImages/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                //offset : 1000
            },
            lazyLoad: {
                use: true // 是否开启懒加载,默认false
            }
        }
    });
    function downCallback() {
        mescroll.resetUpScroll();//重新搜索,重置列表数据
    }
    function getListDataFromNet(page) {
        //延时一秒,模拟联网
        $.ajax({
            type: 'GET',
            url: '{:U("")}?p='+(page.num-1)+'&size='+page.size,
            // url: '../res/pdlist'+dataTag+'.json',
//		                url: '../res/pdlist1.json?num='+pageNum+"&size="+pageSize,
//                     dataType: 'json',
            success: function(data){
                var count = parseInt(($(data).length+1)/2);
                if(data == '') {
                    mescroll.endSuccess(count, false);
                } else {
                    mescroll.endSuccess(count);
                }
                $('#content').append(data);
            },
            error: function (){
                mescroll.endErr();
            }
        });
    }
</script>
{/block}
