<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>备份私钥</title>
        <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/centStyle.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.showLoading.css" />
        <script src="__STATIC__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <header class="mui-bar mui-bar-nav myAssetTop">
            <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
            <h1 class="mui-title">
                备份私钥
            </h1>
        </header>
        <div class="mui-content">
            <div class="backupkeysha">
                <div class="pkeyshaTl">请立即备份您的私钥</div>
                <div class="createwalletshawz">
                    <div class="walletshawztl">安全警告</div>
                    <div class="walletshawztext">
                        私钥相当于您的银行卡密码，请妥善保管！（切勿截图、储存到网络硬盘、微信等传输！）
                    </div>
                </div>
            </div>
            <form>
                <div class="creewalRowsan">
                    <div class="sanTl">ETH私钥</div>
                    <div class="reeText">34salr54ew3fgdfsgsdfsd78f9sdsdjyterds76dfdshiuhguguyyto79as98ggndg8</div>
                </div>
                <div class="creewalRowsan">
                    <div class="sanTl">ETC私钥</div>
                    <div class="reeText">34salr54ejhytogoguygukjj9sdsdjyterds76dfdshiuhguguyyto79as98ggndg8</div>
                </div>
                <div class="shnlink likeA" data-url="{:U('Wallet/askProblem')}">什么是私钥？</div>

                <div class="blockcaczannhez">
                    <button class="blockcaczann">已经抄好</button>
                </div>
            </form>
        </div>

        <div class="agreementCont">
            <div class="hedd">
                <div class="df">
                    <div class="fx1">服务及隐私条款</div>
                    <a class="mui-icon mui-icon-close mui-pull-right tfff" href="#modal"></a>
                </div>
            </div>
            <div id="modal">
                <div class="zhonghe">
                    这里是服务及隐私条款！！！！
                </div>
            </div>
            <div class="guanbi">同意并继续</div>
        </div>

        <script src="__STATIC__/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/js/mui.showLoading.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/js/style.js" type="text/javascript" charset="utf-8"></script>

        <script>
            mui('body').on('tap', ".zexyi", function () {
                $('.agreementCont').css('display', 'block');
            });
            mui('body').on('tap', ".mui-icon-close", function () {
                $('.agreementCont').css('display', 'none');
            });
            mui('body').on('tap', ".guanbi", function () {
                $('.agreementCont').css('display', 'none');
                $('#regProtocol').attr('checked', 'true');
            });
        </script>

    </body>

</html>