<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>什么是私钥</title>
        <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/centStyle.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.showLoading.css" />
        <script src="__STATIC__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <header class="mui-bar mui-bar-nav myAssetTop">
            <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
            <h1 class="mui-title">
                什么是私钥
            </h1>
        </header>
        <div class="mui-content">
            <div class="noticeDetaBox">
                <div class="noticeDetaTitle">什么是文明私钥</div>
                <div class="noticeDetaCont">
                    钱包中资金的控制取决于相应私钥的所有权和控制权；在区块链交易中，私钥用于生成支付货币所必须的签名，以证明资金的所有权。钱包中资金的控制取决于相应私钥的所有权和控制权；在区块链交易中，私钥用于生成支付货币所必须的签名，以证明资金的所有权。钱包中资金的控制取决于相应私钥的所有权和控制权；在区块链交易中，私钥用于生成支付货币所必须的签名，以证明资金的所有权。钱包中资金的控制取决于相应私钥的所有权和控制权；在区块链交易中，私钥用于生成支付货币所必须的签名，以证明资金的所有权。钱包中资金的控制取决于相应私钥的所有权和控制权；在区块链交易中，私钥用于生成支付货币所必须的签名，以证明资金的所有权。
                    Good News! We will start accepting Ethereum for our platform.  Below are An Mine InternationalGood News! We will start accepting Ethereum for our platform.  Below are An Mine International
                </div>
            </div>
        </div>
        <script src="__STATIC__/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/js/mui.showLoading.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/js/style.js" type="text/javascript" charset="utf-8"></script>
    </body>

</html>