<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>钱包</title>
    <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/centStyle.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.showLoading.css" />
    <script src="__STATIC__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="mui-content">
    <div class="blockchWatop">
        <div class="blockchWatopfhui">
            <a class="mui-action-back mui-icon icon-font" style="">&#xe95b;</a>
        </div>
        <div class="blockchWabi">
            <img src="__STATIC__/centImages/csbi.png" alt="">
        </div>
    </div>
    <div class="blockcaczBox">
        <div class="blockcaczann likeA" data-url="{:U('Wallet/addWallet')}">创建钱包</div>
        <div class="blockcaczann likeA" data-url="{:U('Wallet/importWallet')}">导入钱包</div>
        <div class="blockcaczmsu">可以创建或导入钱包，可以删除钱包，一个账户只能同时存在一个钱包</div>
    </div>
</div>

<script src="__STATIC__/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/mui.showLoading.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/style.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>