/*公共部分 s*/
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?u7gss2');
	src: url('../fonts/icomoon.eot?u7gss2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?u7gss2') format('truetype'), url('../fonts/icomoon.woff?u7gss2') format('woff'), url('../fonts/icomoon.svg?u7gss2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html{-webkit-tap-highlight-color:none;}
body {font-size: .975em;background: #f2f2f2;}
form input {font-size: 14px;}
img {
	vertical-align:bottom;
	vertical-align:middle;
	vertical-align:top;
}
.ggbigBox {
	padding-bottom:50px;
}
/*伸缩盒模型*/
.df {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
}
.fx1 {flex:1;}
.fx2 {flex:2;}
.fx3 {flex:3;}
.fx4 {flex:4;}
.fx1-5 {flex:1.5;}
/*清除浮动*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
/*文本溢出省略号*/
.textove {
	display: -webkit-box !important;
	/*display:-moz-box !important;*/
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.textove2 {
	display: -webkit-box !important;
	display: -moz-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.mui-bar {box-shadow: none;}
.muiHeaderbg {background:#FF7E30;}
.muiHeaderbg a {color:#fff;}
.muiHeaderbg .mui-title {color:#fff; left:60px;right:60px;}
.muullRight {font-size:14px;line-height: 44px;}
.mui-btn-blue, .mui-btn-primary, input[type=submit] {
	border-color:#FF7E30;
	background: #FF7E30;
}
/*公共部分 e*/

/*尾部  s*/
.navWeiBox {
    background: #ffffff;
    font-size:0.9em;
	border-top:1px solid #eeeeee;
}
.navWeiBox img {
	height:20px;
	margin-bottom:4px;
}

.navWeiBox .span_1 {
	display: block;
	color:#444444;
	height:18px;
	line-height: 18px;
}
.navWeiBox .navWeiActive {
	color:#FF7E30;
}
/*尾部  s*/

/*商城首页  s*/
.malLogo {
	padding:12px 10px 0px 0px;
}
.malLogo img {
	height:20px;
}
.malsarch {
	position: relative;
	padding-top:7px;
}
.malsarch .icoji {
	height:20px;
	position: absolute;
	top:12px;
	left:10px;
	z-index: 1;
}
.mui-bar .malsarch .secInput {
	margin:0px;
	padding:0px 0px 0px 40px;
	height:30px;
	width:100%;
	border-radius: 3px;
	background: #ffffff;
	font-size:0.9em;
	border:1px solid #E9E9E9;
}
.malCode {
	padding:9px 0px 0px 10px;
}
.malCode img {
	height:26px;
}

.mallNavBox {
	padding:6px 6px 0px 6px;
}
.mallNav{
	background: #ffffff;
	border:1px solid #eeeeee;
	padding:10px 0px;
	border-radius: 4px;
	text-align: center;
	font-size: 0.85em;
	color:#444444;
}
.mallNav img {
	width:42%;
}
.mallrollBox {
	padding:6px;
}
.mallroll {
	background: #ffffff;
	border:1px solid #eeeeee;
	border-radius: 4px;
	overflow: hidden;
}
.mallrollbt {
	height:30px;
	line-height: 30px;
	color:#fff;
	padding:0px 10px;
	background: #FF7E30;
	letter-spacing:2px;
	font-size:0.95em;
}
.mallrollgd {
	height:30px;
	font-size:0.8em;
	position: relative;
}
.mallrollgd .mallrolllb {
	height:30px;
	background: #ffffff;
	padding:5px 10px 0px 10px; 
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}
.mallrolllb img {
	height:18px;
}
.mallrollgd a {
	display: inline-block;
	line-height: 30px;
	color:#666666;
}
.mallplacedsp {
	background: #ffffff;
	padding:6px 6px 0px 6px;
}
.mallplacedspleft {
	width:40%;
	border:1px solid #FCD3BC;
	border-radius: 4px;
	overflow: hidden;
	min-height: 86px;
	position: relative;
	text-align: center;
	margin-bottom:6px;
}
.mallplacedspleft img {
	width:100%;
	vertical-align:bottom;
	vertical-align:middle;
	vertical-align:top;
}
.mallplacedsplefttx {
	position: absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:30px;
	line-height:30px;
	color:#fff;
	background:rgba(0,0,0,0.4);
	font-size:0.95em;
}
.mallplasapBox {
	padding-left:6px;
}
.mallplasap {
	border:1px solid #FCD3BC;
	border-radius: 4px;
	overflow: hidden;
	min-height: 40px;
	position: relative;
	text-align: center;
	margin-bottom:6px;
}
.mallplasap img {
	width:100%;
	vertical-align:bottom;
	vertical-align:middle;
	vertical-align:top;
}
.mallplasaptx_1 {
	position: absolute;
	top:calc(50% - 10px);
	left:0px;
	width:100%;
	height:20px;
	line-height:20px;
	color:#fff;
	background:rgba(0,0,0,0.4);
	font-size:0.75em;
	z-index:10;
}
.mallplasaptx_2 {
	position: absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:20px;
	line-height:20px;
	color:#fff;
	background:rgba(0,0,0,0.4);
	font-size:0.75em;
	z-index:10;
}
.mallListsptl {
	padding:6px 0px 6px 6px;
	font-size:0.9em;
	line-height: 20px;
}
.mallListsptlbt {
	padding-left:6px;
	border-left:3px solid #FF7E30;
}
.mallListsptllink .i {
	font-size:20px;
}
.mallListspBox {
	padding:0px 5px 5px 5px;
}
.mallListgodBox {
	padding:5px;
	float:left;
	width:50%;
}
.mallListgod {
	background: #ffffff;
	min-width: 150px;
}
.mallListgodimg {
	overflow: hidden;

}
.mallListgodimg img {
	width:100%;
}
.mallListgodtxBox {
	padding:6px 6px 0px 6px;
}
.mallListgodtx {
	font-size:0.75em;
	font-weight: 700;
	padding-top:3px;
}
.mallListgodtx_2 {
	font-size:0.75em;
	font-weight: 700;
	padding-top:3px;
	height:45px;
	line-height: 21px;
}
.enteInto {
	text-align: right;
	font-size:0.9em;
	color:#FF7E30;
	font-weight: 700;
	padding-top:5px;
}
.mallListgodjg {
	line-height: 16px;
	min-height: 38px;
}
.mallListgodjg .spanjg {
	display: inline-block;
	margin-right:3px;
	color:#FF0000;
	font-size:0.75em;
	font-weight: 700;
	line-height: 16px;
}
.mallListgodjg .spanmaichu {
	display: inline-block;
	font-size:0.6em;
	color:#777777;
	line-height: 16px;
}
.mallListguche {
	padding-top:10px;
}
.mallListguche img {
	height:20px;
}
/*商城首页  e*/
/*商品搜索  s*/
.seekTopBox {
	padding:10px 6px 5px 6px;
}
.seekToplieb {
	position: relative;
	width:33px;
}
.seekToplieb .sdian {
	height: 26px;
	position:absolute;
	top:12px;
	left:0px;
}
.seekfntBxo {
	width:94%;
	margin:0px auto;
	height:50px;
	background: #ffffff;
	padding:6px 0px;
	border-radius: 25px;
	position: relative;
}
.seekfntBxo .seInput {
	height:38px;
	line-height: 38px;
	padding:0px 20px;
	margin:0px;
	background:none;
	text-align: left;
	font-size:0.9em;
}
.seekfntBxo_1 {
	width:94%;
	margin:0px auto;
	height:50px;
	background:none;
	padding:6px 0px;
	border-radius: 25px;
	position: relative;
}
.seekfntBxo_1 .seInput_1 {
	height:38px;
	line-height: 38px;
	padding:0px 20px;
	margin:0px;
	background:#ffffff;
	text-align: left;
	font-size:0.9em;
	border-radius: 19px;
}
.imgseac {
	height:20px;
	position: absolute;
	top:15px;
	right:18px;
}
.seekfntann {
	background: none;
	border:none;
	padding :0px;
	margin:0px;
}
.seekfntann img {
	height:26px;
}

.seekjiluBox {
	padding:10px;
}
.seekjilutl {
	color:#222222;
	padding-bottom:10px;
}
.seekjilulist {
	display: inline-block;
	margin:5px 20px 5px 0px;
	height:28px;
	line-height: 28px;
	border-radius: 14px;
	padding:0px 10px;
	background: #ffffff;
	box-shadow: 1px 1px 3px #D3D3D3;
	color:#666666;
	font-size:0.85em;
}

.seekSwitchseBox {
	padding:0px 6px 6px 6px;
}
.seekSwitchsehzi {
	height:40px;
	border-radius: 20px;
	background: #ffffff;
}
.seekSwitchse {
	height:40px;
	line-height: 40px;
	text-align: center;
	font-size:0.9em;
	color:#666666;
}
.seekSwitchseActive {
	color:#FF7E30;
}
.seekFiltrate {
	padding:10px 0px 10px 8px;
	font-size:0.9em;
	color:#666666;
}
.seekpailie {
	height:20px;
	width:31px;
	border-right:1px solid #aaaaaa;
	padding-right:10px;
	margin-right:10px;
}
.seekpailie img {
	height:100%;
}
.seekpailie .plie {
	display: none;
}
.eekFiltreen {
	height:20px;
	line-height: 20px;
}
.eekFiltreen img {
	height:100%;
}

.mallarrangemBox {
	padding:0px 5px 5px 5px;
	display: none;
}
.mallarrangemlist {
	padding:5px;
}
.mallarrangem {
	background: #ffffff;
}
.mallarrangemImg {
	width:25%;
	overflow: hidden;
}
.mallarrangemImg img {
	width:100%;
}
.mallarrangemTx {
	min-height: 80px;
	padding:10px;
}

.mallarrangemTxsc {
	min-height: 80px;
	padding:5px 10px;
}

.mallarrangemText {
	font-size:0.75em;
	font-weight: 700;
	min-height: 42px;
}
.mallarrangemjg .neiljg {
	display: inline-block;
	margin-right:3px;
	color:#FF0000;
	font-size:0.75em;
	font-weight: 700;
}
.mallarrangemjg .neilmaichu {
	font-size:0.6em;
	color:#777777;
}
.yiyoushcg {
	padding:5px 0px 2px 0px;
	font-size:0.6em;
	color:#777777;
}
.mallarrangemjg img {
	height:14px;
	margin-left:5px;
	position: relative;
	top:4px;
}
.malarrangeguche img {
	height:20px;
}

/*筛选 s*/

.rightNavigationBox {
	position: fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	overflow: hidden;
	background: rgba(15,15,15,0.6);
	z-index: 100;
	display: none;
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}
.CloseButton {
	position: fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background: rgba(15,15,15,0.6);
	z-index: 101;
}
.rightNavigation {
	position: relative;
	top:0px;
	right:-100%;
	width:75%;
	height:100%;
	z-index: 102;
	background: #ffffff;
	padding:10px;
	overflow-y: auto;
	transition: All 0.5s ease-in-out;
	-webkit-transition: All 0.5s ease-in-out;
	-moz-transition: All 0.5s ease-in-out;
	-o-transition: All 0.5s ease-in-out;
}
.rightNavigationhezi {
	padding-bottom:50px;
}
.dechoosebuBox {
	position: fixed;
	bottom:0px;
	right:-75%;
	width:75%;
	background: #ffffff;
	transition: All 0.5s ease-in-out;
	-webkit-transition: All 0.5s ease-in-out;
	-moz-transition: All 0.5s ease-in-out;
	-o-transition: All 0.5s ease-in-out;
}
.dechoosebuFocus {
	right:0%;
}
.dechoosebuhz {
	width:70%;
	margin:10px auto;
}
.dechoosebuhz .button_1 {
	border:none;
	border-radius: 4px 0px 0px 4px;
	background: #FFB43C;
	color:#ffffff;
	padding:8px 0px;
	text-align: center;
}
.dechoosebuhz .button_2 {
	border:none;
	border-radius: 0px 4px 4px 0px;
	background: #FE7523;
	color:#ffffff;
	padding:8px 0px;
	text-align: center;
}

.rightNavigationFocus {
	right:-25%;
}
.shuaxuanTl {
	font-weight: 700;
	color:#111111;
	padding-bottom:10px;
}
.shuaxuanTlxiao {
	font-size:0.95em;
	color:#666666;
	font-weight: 700;
	padding-bottom:10px;
}
.seekjilulsxuan {
	display: inline-block;
	margin:5px 2px 5px 0px;
	height:25px;
	line-height: 25px;
	border-radius: 14px;
	padding:0px 10px;
	box-shadow: 1px 1px 3px #D3D3D3;
	color:#666666;
	font-size:0.85em;
	background: #F2F2F2;
}
.shuaxuanTlxjie {
	padding-bottom:10px;
}
.priceRange {
	width:40%;
	min-height: 38px;
	line-height: 38px;
	background: #f2f2f2;
	text-align: center;
	color:#aaaaaa;
}
.priceRangegex {
	height:4px;
	background: #f2f2f2;
	margin:18px 5px 0px 5px;
}
.thePricech {
	width:99%;
	background: #E6E6E6;
	margin:10px auto;
	color:#222222;
	padding:10px 0px;
	text-align: center;
}
.thePricech .span_1 {
	display: block;
	font-size:1.1em;
}
.thePricech .span_2 {
	display: block;
	font-size:0.7em;
}
.placeofdis {
	display: inline-block;
	margin:5px 2px 5px 0px;
	min-height:25px;
	border-radius:2px;
	padding:5px 10px;
	box-shadow: 1px 1px 3px #D3D3D3;
	color:#666666;
	font-size:0.85em;
	background: #EDEAEA;
}
.placeofdis img {
	height:16px;
	margin:0px 3px 0px 0px;
}
.placeofdis .i {
	font-size:19px;
}
/*商品搜索  e*/

/*商城首页  s*/
.mallHomeptop {
	background: url("../images/mb_37.png") no-repeat center;
	background-size: cover;
	padding:25px 0px;
}
.mallHomepImg {
	width:55px;
	height:55px;
	border-radius: 50%;
	border:3px solid #FFC686;
	text-align: center;
	overflow: hidden;
}
.mallHomepImg img {
	height:100%;
	width:100%;
}
.mallHomeprili {
	width:25px;
}
.mallHomeprili img {
	width:100%;
}
.mallHomepdataBox {
	padding:0px 15px;
}
.mallHomepdata {
	height:35px;
	line-height: 35px;
	color:#ffffff;
	font-size:1.1em;
	padding:0px 10px;
}
.mallHomepjfen {
	height:20px;
	line-height: 20px;
	color:#ffffff;
	font-size:0.8em;
	padding:0px 10px;
}
.mallHomepshu {
	text-align: center;
	line-height: 22px;
	font-size:0.9em;
	padding-top:10px;
	color:#fff;
}
.poboxBox {
	padding:6px;
}
.pobox {
	background: #ffffff;
	box-shadow: 1px 1px 1px #cccccc;
	padding:6px;
	border-radius: 4px;
}
.poboxtitle {
	padding-bottom:6px;
	border-bottom:1px solid #dddddd;
}
.poboxtitle .poboxtitletl {
	font-size:0.9em;
	color:#222222;
}
.poboxtitle .poboxtitletl {
	font-size:0.9em;
	color:#222222;
}
.poboxtitlezi {
	font-size:0.8em;
	color:#666666;
}
.poboxtitlezi .i {
	font-size:18px;
}
.poboxzhutBox {
	padding:10px 0px 6px 0px;
}
.poboxzhut {
	text-align:center;
}
.poboxzhutImg {
	display: inline-block;
	position: relative;
	height:22px;
	margin-bottom:3px;
}
.poboxzhutImg img {
	height:22px;
}
.poboxzhuttx {
	color:#666666;
	font-size:0.75em;
}
.poboxzhutshu {
	background: #FF0000;
	height:15px;
	width:15px;
	border-radius: 50%;
	color:#fff;
	line-height: 15px;
	text-align: center;
	font-size:0.6em;
	position: absolute;
	top:-3px;
	right:-8px;
}
.latestLogisBox {
	padding:6px;
	border-radius: 3px;
	background: #f4f4f4;
}
.latestLogistl {
	padding-bottom:6px;
	font-size:0.85em;
	color:#666666;
}
.latestLogistxImg {
	height:40px;
	width:40px;
	border-radius: 3px;
	overflow: hidden;
	margin-right:8px;
}
.latestLogistxImg img {
	height:100%;
	width:100%;
}
.latestLogismshu {
	line-height: 20px;
	color:#5FC0FD;
	font-size:0.8em;
}
.latestLogismshu img {
	height:12px;
	position: relative;
	top:2px;
}
.latestLogismdizhi {
	line-height: 20px;
	color:#888888;
	font-size:0.8em;
}
.enterNavBox {
	padding:0px 6px 6px 6px;
}
.enterNav {
	background: #ffffff;
	padding: 0px 10px;
}
.enterNavList {
	border-bottom:1px solid #dddddd;
	line-height:55px;
	letter-spacing:2px;
}
.enterNavList img {
	height:55px;
}
.enterNavList .i {
	color:#666666;
}
/*个人中心   e*/

/*我的卡券  s*/
.myCouponBoxda {
	padding:6px 6px 0px 6px;
	margin:0px;
}
.myCouponBox {
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #bbbbbb;
	padding:0px 10px 10px 10px;
	margin-bottom:6px;
}
.myCouponTl {
	padding:5px 0px;
}
.myCouponTl img {
	height:20px;
	margin-right:10px;
}
.IntoShop {
	display: block;
	height:25px;
	line-height: 25px;
	border-radius: 12px;
	font-size:0.8em;
	color:#FF7E30;
	border:1px solid #FF7E30;
	padding:0px 12px;
	font-weight: 700;
}
.myCouponTltx {
	line-height: 25px;
	font-size:1.1em;
	color:#111111;
	font-weight: 700;
}
.myCoupontx {
	background: #FFE5D6;
	padding:10px;
}

.myCoupontxcz {
	padding:20px 5px 0px 15px;
	border-left:1px dotted #FF6100;
}
.myCoupontxczAn {
	display: inline-block;
	background: #FF6100;
	background: -ms-linear-gradient(left, #FF6100, #FF8C45);
	background: -moz-linear-gradient(left, #FF6100, #FF8C45);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6100), to(#FF8C45));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6100), to(#FF8C45));
	background: -webkit-linear-gradient(left, #FF6100, #FF8C45);
	background: -o-linear-gradient(left, #FF6100, #FF8C45);
	height:26px;
	line-height: 26px;
	padding:0px 15px;
	border-radius: 13px;
	color:#ffffff;
	font-size:0.8em;
}
.myCoupontxImg {
	width:65px;
	height:65px;
	margin-right:10px;
	overflow: hidden;
}
.myCoupontxImg img {
	height:100%;
	width:100%;
}
.myCoupontxData {
	min-height: 27px;
	color:#FF002A;
}
.myCoupontxData .span_1 {
	font-size:1.1em;
	font-weight: 700;
}
.myCoupontxData .span_2 {
	font-size:0.8em;
}
.myCoupontxDatams {
	font-size:0.7em;
	color:#888888;
	min-height:22px;
	line-height: 18px;
}
.myCoupontxDatatm {
	font-size:0.6em;
	color:#888888;
	min-height:16px;
	line-height: 16px;
}

/*我的卡券  e*/

/*充值   s*/
.recharNavBox {
	padding:7px;
}
.recharNav {
	padding:3px;
	width:33.33%;
	float:left;
}
.recharNavhz {
	padding:15px 0px;
	text-align: center;
	line-height: 25px;
	color:#666666;
	font-size:0.85em;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #cccccc;
}
.recharNavhz img {
	height:25px;
	margin-right:5px;
}
.honeRechatlBox {
	padding:5px 10px 0px 10px;
}
.honeRechatl {
	color:#111111;
	font-weight: 700;
	text-align: center;
	background: #ffffff;
	padding:10px 0px;
	box-shadow: 0px 0px 2px #dddddd;
	margin-bottom:5px;
}
.honeRechatlBox .honeRechadhh {
	color:#444444;
	text-align: center;
	padding:10px;
	margin:0px;
	background:#EFEFF4;
	border-color:#EFEFF4;
	font-size:0.95em;
}
.honeRechatlBox .honeRechadhh:focus {
	color:#444444;
	text-align: left;
	background:#ffffff;
	box-shadow: 0px 0px 2px #dddddd;
}
.honeRechatxzeBox {
	padding:0px 5px 5px 5px;
}
.honeRechatxze {
	padding:5px;
	width:25%;
	float:left;
}
.honeRechatxzezi {
	padding:5px 0px;
	text-align: center;
	color:#666666;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #bbbbbb;
}
.honeRechatxzeziActv {
	background: #FF7E30;
	color:#fff;
}
.honeRechatxzezishu {
	font-size:0.8em;
	height:18px;
	line-height: 18px;
}
.honeRechatxzezidz {
	font-size:0.6em;
	height:14px;
	line-height:14px;
}
.paiphoneBut {
	text-align: center;
	padding-bottom:10px;
}
.paiphoneBut .paiphoneButAn {
	display: inline-block;
	padding:0px 15px;
	margin:0px;
	height:35px;
	line-height: 35px;
	border:1px solid #FF7E30;
	color:#444444;
	text-align: center;
	width:60%;
	background: #ffffff;
	border-radius:17px;
}
/*充值   e*/

.favoriteTle {
	padding:10px;
	background: #ffffff;
	position: fixed;
	top:44px;
	left:0px;
	width:100%;
	z-index: 100;
}
.seekpailienbd {
	border:none;
	padding: 0px;
	margin:0px;
	text-align: right;
}
.favoriteTle .typeSele {
	padding:0px;
	margin: 0px;
	height:20px;
	line-height: 20px;
}
.typeSeleBox {
	position: relative;
	width:33%;
}
.typeSeleBox .typeSeleImg {
	height:6px;
	position: absolute;
	right:0px;
	top:7px;
}

.favoriteListBox {
	padding:5px;
	width:25%;
	float:left;
}
.favoriteImg {
	background: #ffffff;
	overflow: hidden;
}
.favoriteImg img {
	width:100%;
}
.favoriteText {
	height:18px;
	line-height: 18px;
	color:#666666;
	font-size:0.5em;
	background: #ffffff;
	text-align: center;
}
.favoriteBox {
	padding-top:45px;
}


/*分类  s */
.sificaofnavBox {
	overflow-y: auto;
	position: fixed;
	top:0px;
	left:0px;
	bottom: 0px;
	width:25%;
	border-right:1px solid #eeeeee;
	z-index:9;
	padding:44px 5px 50px 5px;
	text-align:center;
	background: #f2f2f2;
}
.sificaofnav {
	display: inline-block;
	width:95%;
	padding:0px 5px;
	margin:10px 0px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#111111;
	font-weight: 700;
	font-size:0.9em;
	border-left:3px solid #f2f2f2;
	letter-spacing:2px;
}
.classifListBox {
	display: block;
}
.sificaofnavActive {
	border-left:3px solid #FF6000;
	color:#FF7E30;
}
.classifContBox {
	padding-bottom:50px;
	padding-left:25%;
}
.classifListtl {
	padding:10px 5px 10px 10px;
	border-top:1px solid #eeeeee;
}
.classifListtlbt {
	height:20px;
	line-height: 20px;
	font-size:0.9em;
}
.classifListtlgd {
	height:20px;
	line-height: 20px;
	font-size:0.8em;
}
.classifListtlgd .i {
	font-size:18px;
}
.classifListBnan {
	padding:0px 10px 0px 10px;
}
.classifListBnan img {
	width:100%;
}
.classifListCot {
	padding:5px;
}
.classifListCotzi {
	width:33.33%;
	float:left;
	padding:5px;
	text-align: center;
}
.classifListCotziImg img {
	width:100%;
}
.classifListCotziTx {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#111111;
	font-weight: 700;
	font-size:0.7em;
}
/*分类  e */

/*登录 注册  s*/
.ringupBox {
	width:80%;
	margin:0 auto;
	padding:2em 0em 0.8em 0em;
}
.ringupLoginImg {
	text-align: center;
}
.ringupLoginImg img {
	width:40%;
}
.ringupLoginbt {
	color:#ffffff;
	font-size:1.2em;
	text-align:center;
	padding:1.4em 0em 0em 0em;
}
.commFormBox {
	width:85%;
	margin:0 auto;
}
.comInputBox {
	height:36px;
	line-height: 36px;
	background:url("../images/mb_88.png") no-repeat center;
	background-size: 100% 100%;
	position: relative;
	margin-top:1.3em;
}
.comInputBox .icon {
	height:18px;
	position: absolute;
	top:8px;
	left:10px;
}
.comInputBox .yanzm {
	height:26px;
	position: absolute;
	top:5px;
	right:5px;
	z-index: 2;
}
.comInputBox .yanzmAn {
	height:26px;
	line-height: 26px;
	padding:0px 12px;
	border-color: #F6B37F;
	background: #FF7E30;
	color:#fff;
	font-size:0.8em;
	position: absolute;
	top:5px;
	right:5px;
	z-index: 2;
}
.comInputBox .comInput {
	height:100%;
	line-height: 36px;
	width:100%;
	padding:0px 0px 0px 35px;
	margin:0px;
	font-size:0.9em;
	color:#ffffff;
	background: none;
	border:none;
}
.comInputBox .comInput::-webkit-input-placeholder {color:#eeeeee;}
.comInputBox .comInput:-moz-placeholder {color:#eeeeee;}
.comInputBox .comInput::-moz-placeholder {color:#eeeeee;}
.comInputBox .comInput:-ms-input-placeholder {color:#eeeeee;}
.jimma {
	margin-top:0.5em;
}
.cominputAn {
	height:40px;
	line-height: 40px;
	background: #FFBF5B;
	text-align: center;
	border:none;
	border-radius: 20px;
	color:#B93F0C;
	width:100%;
	padding:0px;
	margin:0.5em 0em;
	font-size:1.2em;
	letter-spacing: 2px;
}
.comLinkABox {
	text-align: center;
	color:#ffffff;
	font-size:0.9em;
	line-height: 16px;
	padding-top:0.6em;
}
.comLinkABox .comLinkAbd {
	border-right:1px solid #FFCE9F;
}
.comLinkABox .span_1 {
	display: inline-block;
	border-bottom:1px solid #FFCE9F;
}
.thirdartloginBox {
	padding-top:2.5em;
}
.thirdartlogintlbg img {
	width:100%;
	margin-top:10px;
}
.thirdartlogintltx {
	font-size:0.8em;
	color:#ffffff;
}
.thirdartlogintx {
	padding-top:0.8em;
	text-align: center;
	font-size:0.8em;
	color:#E9DDD2;
	line-height: 24px;
}
.thirdartlogintx img {
	height:40px;
}
/*登录 注册  e*/

/*商品详情  s*/
.productNavBox {
	height:40px;
	background: #ffffff;
	position: fixed;
	top:44px;
	left:0px;
	width:100%;
	z-index: 100;
}
.productNav {
	height:40px;
	line-height: 38px;
	border-bottom:2px solid #f5f5f5;
	text-align: center;
	color:#222222;
	font-size:0.95em;
}
.productNavActive {
	border-color: #FF7E30;
}
.productDetaCont {
	padding:40px 0px 50px 0px;
}
.prodprice {
	color: #FF0000;
	font-size: 0.9em;
	font-weight: 700;
}
.prodpriceBox {
	padding:10px;
	background: #ffffff;
	margin-bottom:6px;
}
.mptifromost {
	padding: 0px 12px;
	height:20px;
	line-height: 20px;
	background: #FF7E30;
	border-radius: 10px;
	color:#fff;
	font-size:0.8em;
}
.prodpricejfne {
	font-weight: 700;
	color:#888888;
	min-width:100px;
	text-align: right;
}
.prodpricemzi {
	margin-top:10px;
	font-size:0.9em;
}
.prodpricemzimane {
	font-weight: 700;
	color:#222222;
}
.oductstad {
	padding:10px;
	margin-bottom:6px;
	font-size:0.9em;
	color:#666666;
	background: #ffffff;
}
.oductstad .i {
	font-size:20px;
}
.shopLinkBox {
	padding:10px;
	margin-bottom:6px;
	font-size:0.9em;
	color:#444444;
	background: #ffffff;
}
.shopLinking img {
	width:45px;
	margin-right:10px;
}

.entestore {
	padding-top:10px;
	font-weight: 700;
	color:#888888;
}
.shopLinkm {
	font-weight: 700;
	color:#222222;
}
.shopLinkshu .span_1 {
	color:#FF7E30;
	font-weight: 700;
}
.commendatiotl {
	padding:4px 10px 5px 10px;
	font-size:0.9em;
	color:#444444;
}
.productDewei {
	height:50px;
	width:100%;
	position:fixed;
	left:0px;
	bottom:0px;
	background: #ffffff;
	border-top:1px solid #eeeeee;
	z-index: 100;
	padding:0px 10px;
}
.producweilink .producweilinkzi{
	display: inline-block;
	text-align: center;
	color:#666666;
	font-size:0.8em;
	padding-top:8px;
	line-height: 18px;
	margin-right:15px;
}
.producweilinkzi img {
	height:14px;
}
.shcang .shcangImg_2 {
	display:none;
}
.productDeweigm {
	padding-top:10px;
}
.productDeweigman_1 {
	display:inline-block;
	float:left;
	white-space:nowrap;
	height:30px;
	line-height: 30px;
	border-radius: 15px 0px 0px 15px;
	background: #FFB43C;
	color:#fff;
	padding:0px 10px;
	font-size:0.8em;
	min-width: 90px;
	text-align: center;
}
.productDeweigman_2 {
	display:inline-block;
	float:left;
	white-space:nowrap;
	height:30px;
	line-height: 30px;
	border-radius: 0px 15px 15px 0px;
	background: #FE7523;
	color:#fff;
	padding:0px 10px;
	font-size:0.8em;
	min-width: 90px;
	text-align: center;
}
.tailsCont {
	background: #ffffff;
	padding:10px;
	margin:5px 0px;
	color:#666666;
	line-height: 25px;
	font-size:0.8em;
}
.tailsCont img {
	width:100%;
}
.specicatpopBox {
	position: fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index: 110;
	background: rgba(0,0,0,0.6);
	display: none;
}
.specicatpoptmg {
	position: fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background: rgba(0,0,0,0.6);
}
.specicatpopCont {
	position: absolute;
	left:0px;
	bottom:-85%;
	height:85%;
	width:100%;
	background: #ffffff;
	border-radius: 8px 8px 0px 0px;
	padding:12px 12px 60px 12px;
	overflow-y: auto;
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}
.specicatpopCont::-webkit-scrollbar {display:none}
.specicatpopContFcous {
	bottom:0px;
}
.specicatpopAniu {
	position: fixed;
	left:0px;
	bottom:0px;
	width:100%;
	padding:10px;
	background: #ffffff;
	text-align: center;
}
.specicatpopAniubtn {
	width:100%;
	padding:0px;
	margin:0 auto;
	height:38px;
	line-height: 38px;
	border:none;
	background: #FF7E30;
	color:#fff;
	text-align: center;
}
.specicatpopximgbox {
	width:70px;
	min-height: 70px;
	margin-right:10px;
}
.specicatpopximgbox img {
	width:100%;
}
.specicatpoptgubi .i {
	font-size:28px;
}
.specicjiage {
	color:#FF7E30;
}
.specicjiage .span_1 {
	font-size:0.9em;
}
.specicjiage .span_2 {
	font-size:1.2em;
	font-weight: 700;
}
.specickucun {
	font-size:0.8em;
	color:#888888;
	padding:5px 0px;
}
.specicxunaze {
	color:#222222;
	font-size:0.8em;
}
.specicatpopConttl {
	font-weight: 700;
	color:#222222;
	font-size:0.9em;
	padding:15px 0px 0px 0px;
}
.specntcx {
	display: inline-block;
	height:20px;
	line-height: 20px;
	padding:0px 10px;
	margin:5px 10px 5px 0px;
	background: #E5E5E5;
	color:#222222;
	font-size:0.7em;
	border-radius: 3px;
}
.specntcxActive {
	background: #FF7E30;
	color:#fff;
}
.purchasequa {
	margin:8px 0px;
	padding:8px 0px;
	border-top:1px solid #eeeeee;
}
.purchasequatl {
	font-weight: 700;
	color:#222222;
	font-size:0.9em;
	line-height: 33px;
}
/*商品详情  e*/



/*购物车  s*/
.shoptrollnull {
	text-align: center;
	padding-top:10%;
}
.shoptrollnull img {
	width:60%;
}
.shoptrollBox {
	padding:6px;
}
.shoptrollist {
	background: #D9D9D9;
	margin-bottom:6px;
	border-radius: 6px;
	padding:10px 6px 0px 6px;
}
.shoptrollisttl img {
	height:20px;
	margin-right:10px;
}
.shoptrollisttltx {
	font-size:0.95em;
	color:#222222;
	font-weight: 700;
	line-height: 20px;
}
.shoptrollistimg {
	width:60px;
	min-height: 50px;
	margin-right:6px;
}
.shoptrollistimg img {
	width:100%;
}
.spxuanz {
	margin-top:15px;
}
.shoptrollistbt {
	font-size: 0.8em;
	font-weight: 700;
	padding-right:10px;
}
.shoptrolliscz {
	text-align: right;
}
.shoptrollisscu {
	display:block;
	border:none;
	background: #ff0000;
	color:#ffffff;
	height:28px;
	line-height: 28px;
	padding:0px 12px;
	margin-bottom:5px;
}
.shoptrollijia {
	color: #FF0000;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 28px;
}
.chanplist {
	padding:10px 0px;
	border-bottom:1px solid #E3E3E3;
}
.shoptrollweiBox {
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:50px;
	background: #ffffff;
	border-top:1px solid #eeeeee;
	z-index: 100;
	padding:0px 6px;
}
.shoptrollweizt {
	line-height: 50px;
	text-align: right;
}
.shoptrollweizt .span_1 {
	font-size:0.7em;
	color:#888888;
}
.shoptrollweizt .span_2 {
	font-size:0.7em;
	color:#FF7E30;
}
.shoptrollweizt .span_3 {
	font-size:0.95em;
	color:#222222;
	font-weight: 700;
}
.shoptrollweizt .span_4 {
	font-size:0.95em;
	color:#ff0000;
	font-weight: 700;
}
.settlementan {
	height:26px;
	line-height:26px;
	padding:0px 18px;
	background: #FF7E30;
	border-radius: 13px;
	color:#ffffff;
	font-size:0.9em;
	margin-top:12px;
	margin-left:6px;
}
/*购物车  e*/

/*店铺搜索  s*/
.storesearchBox {
	padding:5px 6px;
}
.storesearchhzi {
	background: #fff;
	margin-bottom:10px;
}
.storesearchTl {
	padding:10px 10px 5px 10px;
}
.storesearchTlimg {
	height:35px;
	width:35px;
	overflow: hidden;
	text-align: center;
	margin-right:10px;
}
.storesearchTlimg img {
	width:100%;
}
.intshopAn {
	height:28px;
	line-height: 28px;
	padding:0px 18px;
	border-radius: 15px;
	border:1px solid #FF7E30;
	color:#FF7E30;
	font-size:0.9em;
	font-weight: 700;
	margin-left:5px;
	margin-top:3px;
}
.intshoptl {
	height:35px;
	line-height: 35px;
	font-weight: 700;
	font-size:0.9em;
}
.storesearCont {
	padding:0px 0px 5px 0px;
}
.storesearConImg {
	padding:5px 10px;
}
.storesearConImg img {
	width:100%;
}
/*店铺搜索  e*/

/*店铺详情 s*/
.shopdetailsbg {
	background: url("../images/mb_120.png") no-repeat center;
	background-size: 100% 100%;
}
.shopdetailsbgImg {
	padding-top:43px;
}
.shopdetailsbgImg img {
	width:100%;
}

.shopdetailsBox {
	padding-top:6em;
}

.seekTopBox_2 {
	padding:10px 6px 5px 6px;
	width:90%;
	margin:0 auto;
}
.seekfntBxo_2 {
	height:38px;
	background:none;
	position: relative;
}
.seekfntBxo_2 .seInput_2 {
	height:38px;
	line-height: 38px;
	padding:0px 20px 0px 50px;
	margin:0px;
	background:#F1F1F1;
	text-align: left;
	font-size:0.9em;
	border-radius: 19px;
	box-shadow: 1px 1px 2px #B2B2B2;
}
.seekfntBxo_2 .seInput_img {
	position: absolute;
	top:8px;
	left:13px;
	height:20px;
}
.contaccusan {
	margin-left:10px;
	text-align:center;
	font-size:0.6em;
	color:#666666;
	line-height: 18px;
}
.contaccusan img {
	height:22px;
	margin-bottom:2px;
}
.priceDroantx {
	padding-right:5px;
	text-align: right;
}
.priceDroanImg {
	text-align:left;
}
.priceDroanImg img {
	height:14px;
	position: relative;
	top:12px;
}
.priceDroanImg .shengxu {
	display: none;
}
.priceDroanImg .jiangxu {
	display: none;
}
.payattean .qxgz {
	display: none;
}
/*店铺详情 e*/

/*积分商城  s*/
.integralshopTop {
	position: fixed;
	top: 44px;
	left: 0px;
	width: 100%;
	z-index: 100;
	padding-top:10px;
	background: #efeff4;
}
.integralshopBox {
	padding-top:55px;
}
.ntegrasnapan {
	font-size:0.7em;
	font-weight: 700;
	color:#FF0000;
	line-height: 18px;
}

.yiyoushjiajf {
	padding:5px 0px 2px 0px;
	font-size:0.7em;
}
.yiyoushjiajf .span_1 {
	font-weight: 700;
	color:#FF0000;
}
.yiyoushjiajf .span_2 {
	font-weight: 700;
	color:#777777;
}
.nralrogresdaBox {
	padding-top:3px;
}
.nralrogresBox {
	width:80%;
	height:18px;
	line-height:18px;
	border-radius:9px;
	background: #cccccc;
	overflow: hidden;
	position: relative;
}
.nralrogresjdt {
	height:18px;
	border-radius: 9px;
	background:#FF7E30;
}
.nralrogresshu {
	position: absolute;
	top:0px;
	left:40%;
	color:#fff;
	font-size:0.6em;
}
/*积分商城  s*/

/*我的订单 s*/
.myOrderTop {
	position: fixed;
	top:44px;
	left:0px;
	z-index: 100;
	height:40px;
	width:100%;
	background:#efeff4;
}
.myOrderTopan {
	width:85%;
	margin: 0 auto;
	height:40px;
	line-height: 40px;
	color:#222222;
	font-weight: 700;
	font-size:0.9em;
	text-align: center;
	border-bottom:2px solid #efeff4;
}
.myOrderTopanActive {
	color:#FF7E30;
	border-bottom:2px solid #FF7E30;
}


.myordponBoxda {
	padding:45px 6px 0px 6px;
	margin:0px;
}
.myordponBox {
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #bbbbbb;
	padding:0px 10px 10px 10px;
	margin-bottom:6px;
}
.myordponTl {
	padding:5px 0px;
}
.myordponTl img {
	height:20px;
	margin-right:10px;
}
.myordponTltx {
	line-height: 25px;
	font-size:1.1em;
	color:#444444;
	font-weight: 700;
}
.oderstat {
	height: 25px;
	line-height: 25px;
	font-size: 0.8em;
	color: #FF7E30;
	font-weight: 700;
}

.myOrdersptl {
	font-size:0.75em;
	font-weight: 700;
}
.myOrderspjg {
	font-size:0.75em;
	font-weight: 700;
}
.myOrderspms {
	text-align:right;
	font-size:0.75em;
}
.myOrdersptext {
	line-height: 18px;
	color:#222222;
}
.myOrderspxjms {
	font-size: 0.7em;
	color: #888888;
}
.myOrderspczBox {
	text-align: right;
	margin-top:5px;
}
.myOrderspczBox .linkcz {
	display:inline-block;
	height:20px;
	line-height: 20px;
	padding:0px 12px;
	margin-left:3px;
	border:1px solid #C2C2C2;
	color:#777777;
	border-radius: 10px;
	font-size:0.7em;
}
.myOrderspczBox .linkcz_2 {
	display:inline-block;
	height:20px;
	line-height: 20px;
	padding:0px 12px;
	margin-left:3px;
	border:1px solid #FF7E30;
	color:#FF7E30;
	border-radius: 10px;
	font-size:0.7em;
}
.myOrdertxImg {
	width:75px;
	height:75px;
	margin-right:10px;
	overflow: hidden;
}
.myOrdertxImg img {
	height:100%;
	width:100%;
}
/*我的订单 e*/

/*物流   s*/
.logisticsBox {
	padding:10px;
}
.logisticsTop {
	background: #ffffff;
	padding:10px;
	border-radius: 4px;
	margin-bottom:10px;
}
.logisticsTopImg {
	height:40px;
	width:40px;
	text-align: center;
	overflow: hidden;
	margin-right:10px;
}
.logisticsTopImg img {
	height:100%;
	width:100%;
}
.logisticskefu {
	text-align: center;
	border-left:1px dashed #cccccc;
	padding-left:10px;
	margin-left:10px;
}
.logisticskefu img {
	height:20px;
}
.logisticskefu .cskefuText {
	font-size:0.6em;
	color:#666666;
	height:14px;
	line-height:14px;
	margin-top:4px;
}
.logisticsTopbt {
	color:#111111;
	font-size:0.85em;
}
.logisticsDataBox {
	background: #ffffff;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom:10px;
}
.logisticsDatatop {
	padding:10px;
}
.logisticsDatatopimg {
	height:50px;
	width:50px;
	text-align: center;
	overflow: hidden;
	margin-right:10px;
}
.logisticsDatatopimg img {
	height:100%;
	width:100%;
}
.logisticsDatatopTx {
	color:#111111;
	font-size:0.9em;
	font-weight: 700;
	height:25px;
	line-height: 25px;
}
.logisticsDatatopLx {
	color:#666666;
	font-size:0.75em;
	height:25px;
	line-height: 25px;
}
.logisticsdindanh {
	background: #E5E5E5;
	color:#111111;
	padding:4px 10px;
	font-size:0.8em;
}

.logisticsflowBox {
	border-radius: 4px;
	background:#ffffff;
	padding:15px;
}
.logisticsflowTime {
	color:#666666;
	font-size:0.7em;
	min-width:70px;
	text-align: center;
	line-height: 16px;
}
.logisticsflowimg {
	width:32px;
	margin:0px 4px;
}
.logisticsflowimg img {
	width:100%;
}
.logisticsflowtl {
	color:#666666;
	font-size:0.7em;
	line-height: 16px;
}

.logisticsflowtlActive {
	color:#000000;
	font-weight: 700;
}
.logisticsgxian_1 {
	width:90px;
	height:60px;
	border-right:1px dashed #cccccc;
}
.logisticsgxian_2 {
	width:90px;
	height:60px;
	border-right:1px solid #FF8D48;
}
/*物流   e*/

/*评价  s*/
.evaluateBoxhz {
	padding:10px;
}
.evaluateBox {
	padding:10px;
	background: #ffffff;
	border-radius: 2px;
}
.evaluatespImg {
	height: 36px;
	width: 36px;
	text-align: center;
	overflow: hidden;
	margin-right: 10px;
}
.evaluatespImg img {
	width:100%;
	height:100%;
}

.evaluatespinf {
	color:#111111;
	font-size:0.85em;
	line-height: 36px;
	margin-right:10px;
}
.evaluatesxinx {
	padding-top:6px;
}
.evaluatesxinx img {
	height:18px;
}
.evaluatesxidji {
	color:#888888;
	font-size:0.85em;
	line-height: 36px;
}
.textareaWbk {
	margin:10px 0px 5px 0px;
	border-color: #F1F1F1;
	background: #F1F1F1;
	font-size:0.8em;
	color:#444444;
	padding:10px;
}
.evaluateSchImg {
	width:60px;
	height:60px;
	text-align: center;
	overflow: hidden;
	margin:0px 5px 5px 0px;
	position: relative;
}
.evaluateSchImg img {
	height:100%;
	width:100%;
}
.evaluateSchgb {
	position: absolute;
	top:0px;
	right:0px;
	background: rgba(0,0,0,0.4);
	color: #ffffff;
}
.evaluateSch {
	width:60px;
	height:60px;
	border:1px dashed #cccccc;
	text-align: center;
	padding-top:10px;
	font-size:0.7em;
	color: #888888;
	margin:0px 5px 5px 0px;
}
.evaluateSch img {
	height:20px;
}
.toratiBox {
	padding:10px;
}
.toratiTl img {
	height:20px;
	margin-right:10px;
}
.toratiTl {
	line-height: 20px;
	color:#000000;
	font-weight: 700;
	font-size: 0.9em;
}
.toratiTextwz {
	line-height: 20px;
	padding-top:2px;
	height:22px;
	color:#000000;
	font-size: 0.8em;
	margin-right:10px;
}
.toratiTextxinx {
	height:18px;
}
.toratiTextxinx img {
	height:18px;
}
.toratiText {
	margin-top:10px;
}
.issueanniu {
	margin: 0px;
	padding:0px;
	background: none;
	border: none;
	color:#fff;
	height:20px;
	margin-top:11px;
}
.mentsshowBoxhz {
	padding:10px;
}
.mentsshowBox {
	background: #ffffff;
	border-radius: 4px;
	padding:10px 10px 5px 10px;
	margin-bottom:10px;
}
.mentsshowtl {
	margin-bottom:5px;
}
.mentsshowtlimg {
	height:30px;
	width:30px;
	text-align: center;
	overflow: hidden;
	margin-right: 10px;
}
.mentsshowtlimg img {
	height:100%;
	width:100%;
}
.mentsshowtltx {
	font-size:0.9em;
	font-weight: 700;
	line-height: 30px;
}
.mentsshowtext {
	font-size:0.75em;
	color:#666666;
}
.mentsshowtext img {
	height:65px;
	margin:0px 5px 2px 0px;
	float:left;
}
.mentsshowchim {
	font-size:0.8em;
	text-align:right;
	margin-top:5px;
}
/*评价  e*/

/*找回密码  s*/
.findPswordBox {
	padding:20px;
}
.findPswordinput {
	margin-bottom:15px;
}
.findPswordinput .finInput {
	padding:0px 10px;
	margin:0px;
	height:38px;
	line-height:38px;
	font-size:14px;
	color:#111111;
	border:1px solid #DBDBDB;
	background: #F2F2F2;
}
.findPswordinput .finyzma {
	margin:0px 0px 0px 8px;
	padding:0px 10px;
	height:38px;
	line-height:38px;
	font-size:14px;
	color:#fff;
	background: #FF8D48;
	border:none;
}
.finbutAn {
	width:100%;
	text-align: center;
	background: #FF8D48;
	color:#fff;
	margin-top:10px;
	padding:0px;
	height:38px;
	line-height: 38px;
	border:none;
}
.forgotIndexwcBox {
	padding:40px 10px 10px 10px;
	text-align: center;
}
.forgotIndexwcBox img {
	height:50px;
}
.forgotIndexwcBox .wanchText {
	margin-top:15px;
	font-size:14px;
}
.wanchText .span_1 {
	color:#888888;
}
.wanchText .span_2 {
	color:#FF8D48;
}
/*找回密码  e*/

/*确认订单页 s*/
.confirmdbigBox {
	padding-bottom:50px;
}
.confirmddTop {
	background: #ffffff;
	padding:10px;
	margin-bottom:6px;
}
.confirmdddzhiimg {
	margin-right:10px;
	padding-top:7px;
}
.confirmdddzhiimg img {
	width:25px;
}
.confirmddText {
	font-size:0.9em;
	color:#444444;
	font-weight: 700;
}
.confirmddshdz {
	font-size:0.8em;
	color:#666666;
	padding:3px 0px;
}
.confirmdddzhizhen {
	padding-top:7px;
	margin-left:10px;
}
.confirmdddzhizhen .i {
	font-size:2em;
	color:#888888;
}
.zdsplist {
	margin-bottom:5px;
}
.confirmddsplist {
	padding:0px 6px;
}
.confirmddstat {
	text-align: right;
	font-weight: 700;
	font-size: 0.8em;
}
.confirmddstat .span_1 {
	margin-right:6px;
}
.confirmddstat .span_2 {
	color:#FF7E30;
}
.confirmddWei {
	position: fixed;
	left:0px;
	bottom:0px;
	z-index: 100;
	height:50px;
	width:100%;
	background: #ffffff;
	border-top:1px solid #eeeeee;
	text-align: right;
	line-height: 50px;
	color:#666666;
}
.confirmddWei .span_1 {
	margin-right:6px;
	font-weight: 700;
	font-size: 0.8em;
}
.confirmddWei .span_2 {
	color:#FF7E30;
	font-weight: 700;
}
.confirmdtjiaodd {
	height:50px;
	line-height: 50px;
	background: #FF7E30;
	color:#fff;
	padding:0px 15px;
}
/*确认订单页 e*/


/*提交订单  s*/
.submitdbidBox {
	padding:10px 20px 0px 20px;
}
.submitdText_1 {
	text-align: center;
	line-height: 40px;
	font-size:1.3em;
}
.submitdText_2 {
	text-align: center;
	line-height: 40px;
	font-size:1.4em;
	font-weight: 700;
}
.submitdText_3 {
	line-height: 30px;
	font-size:0.9em;
}
.submitdbidTop {
	padding-bottom:10px;
	border-bottom:1px solid #cccccc;
	margin-bottom:10px;
}
.mentptioBox {
	margin-bottom:20px;
}
.mentptioBox .mentImg {
	height:35px;
}
.mentptioBox .span_1{
	display: inline-block;
	line-height: 35px;
	padding:0px 10px;
	font-size:0.8em;
}
/*提交订单  e*/

/*我的地址   s*/
.myAddreBox {
	background: #ffffff;
	padding:15px 10px;
	border-bottom:1px solid #cccccc;
}
.myAddredzhiimg {
	margin-right:10px;
	padding-top:15px;
}
.myAddredzhiimg img {
	width:25px;
}
.myAddrecaozuo {
	font-size:0.8em;
	color:#FF7E30;
}
.myAddrecaozuo .span_1 {
	display: inline-block;
	margin-right:15px;
}

.myAddredzhizhen {
	padding-top:20px;
	margin-left:10px;
}
.myAddredzhizhen .i {
	font-size:1.8em;
	color:#aaaaaa;
}
.myAddrejia .i {
	font-size:2em;
	color:#fff;
	font-weight: 700;
	padding-top:6px;
}
.adresadman {
	line-height: 44px;
	color:#fff;
	font-size:14px;
}
.adresadmInput {
	border-bottom:1px solid #eeeeee;
	background: #fff;
}
.adresadmInput .cadInput {
	margin:0px;
	padding:0px 10px;
	border:none;
	font-size:14px;
}
.adresadmsmr {
	padding:10px;
	background: #fff;
}
.adresadmsmrtx {
	line-height: 30px;
	font-size:14px;
}
/*我的地址   e*/

/*设置   s*/
.setInBox {
	padding:12px;
	border-bottom:1px solid #eeeeee;
	background: #ffffff;
}
.setInBox .i {
	color:#aaaaaa;
}
.setInAnniu {
	padding:10px;
}
/*设置   s*/

/*联盟商家 s*/
.allianTop {
	text-align: center;
	font-size:0.6em;
	color:#FF7E30;
	line-height: 16px;
	padding-right:10px;
}
.allianTop img {
	height:15px;
	margin-top:6px;
}

.allianNavBox {
	padding:20px 0px 10px 0px;
	background: #ffffff;
}
.allianNav {
	width:20%;
	float:left;
	text-align: center;
	font-size:0.75em;
	color:#222222;
	padding-bottom:10px;
}
.allianNav img {
	height:40px;
	margin-bottom:5px;
}
.alliagixanBox {
	background: #F2F2F2;
	padding:8px;
	line-height: 20px;
}
.alliagixleft {
	text-align: right;
}
.alliagixleft img {
	height:3px;
	margin-top:8px;
}
.alliagixright img {
	height:3px;
	margin-top:8px;
}
.alliadianpuBox {
	margin-bottom:10px;
	padding:15px;
	background: #ffffff;
}
.alliadianpuImg {
	width:60px;
	overflow: hidden;
	margin-right:10px;
}
.alliadianpuImg img {
	width:100%;
}
.alliadiapxin {
	margin-top:4px;
}
.alliadiapxin img {
	height:16px;
}
.alliadiadizhi {
	text-align: right;
	font-size:0.8em;
	line-height: 14px;
}
.alliadiadizhi .span_1 {
	display: inline-block;
	border-left:1px solid #eeeeee;
	padding-left:5px;
	margin-left:5px;
}
.alliadiazt {
	display: inline-block;
	font-size:0.8em;
	height:20px;
	line-height: 20px;
	border-radius: 10px;
	border:1px solid #FF7E30;
	color:#FF7E30;
	padding:0px 10px;
}

.unionchantBox {
	padding-bottom:50px;
}
/*联盟商家 e*/