{extend name="public:base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">会员呢称</label>
                            <div class="layui-input-block">
                                <input type="text" name="nickname" value="{:isset($userInfo['nickname']) ? $userInfo['nickname'] : ''}" placeholder="姓名" class="layui-input" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机号</label>
                            <div class="layui-input-block">
                                <input type="text" name="mobile" value="{:isset($userInfo['mobile']) ? $userInfo['mobile'] : ''}" placeholder="手机号" class="layui-input" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">登录密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="password" placeholder="登录密码" class="layui-input" autocomplete="off"/>
                                <div class="layui-form-mid layui-word-aux">不输代表不修改</div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">二级密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="secpwd" placeholder="二级密码" class="layui-input" autocomplete="off"/>
                                <div class="layui-form-mid layui-word-aux">不输代表不修改</div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">分红牛状态</label>
                            <div class="layui-input-block">
                                <select name="is_hold_dividend_product">
                                    <option value="1" {$userInfo['is_hold_dividend_product'] == 1 ? 'selected' : ''}>开启</option>
                                    <option value="2" {$userInfo['is_hold_dividend_product'] == 2 ? 'selected' : ''}>关闭</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">牛郞状态</label>
                            <div class="layui-input-block">
                                <select name="is_niuqi">
                                    <option value="1" {$userInfo['is_niuqi'] == 1 ? 'selected' : ''}>开启</option>
                                    <option value="2" {$userInfo['is_niuqi'] == 2 ? 'selected' : ''}>关闭</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">织女状态</label>
                            <div class="layui-input-block">
                                <select name="is_zilvu">
                                    <option value="1" {$userInfo['is_zilvu'] == 1 ? 'selected' : ''}>开启</option>
                                    <option value="2" {$userInfo['is_zilvu'] == 2 ? 'selected' : ''}>关闭</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide">
                            <input type="hidden" name="id" value="{$userInfo['user_id']}" />
                            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
{/block}
