{extend name="public:base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
                        <fieldset class="layui-elem-field site-demo-button" style="padding:10px;">
                            <legend>账号信息</legend>
                            <div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">会员等级</label>
                                    <div class="layui-input-block">
                                        <select name="level" id="level">
                                            {foreach ($levelNames as $k => $v)}
                                            <option value="{$k}" {:isset($userInfo['level']) ? ($userInfo['level'] == $k ? 'selected' : '') : ''}>{$v}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    <textarea name="note" autocomplete="off" class="layui-textarea" placeholder="请输入备注">{:isset($config['note']) ? $config['note'] : ''}</textarea>
                                </div>
                            </div>
                        </fieldset>
                        <div class="layui-form-item layui-hide">
                            <input type="hidden" name="id" value="{$userInfo['user_id']}" />
                            <button class="layui-btn" lay-submit lay-filter="submitBtn" id="submitBtn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{__block__}
<script>
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
{/block}
