/* 样式加载完毕的标识 */
html #layuicss-orgCharts{display: none; position: absolute; width: 1989px;} 
 
/*层级样式*/
/*层级样式*/

.root_div {
	text-align: center;
	position: relative;
	/*cursor: move;*/
	width: 100%;
}

.root_div .parent_div {
	/*cursor: move;*/
	display: inline-flex;
}


/*节点基础样式*/

.root_div .node {
	display: inline-block;
	padding-bottom: 2px;
	/*cursor: move;*/
	border-radius: 3px;
	text-align: center;
}

.user-html {
	display: inline-block;
}

.org-open-up {
	cursor: pointer;
	height: 20px;
	margin: 2px auto;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #fff;
}

.org-open-down {
	cursor: pointer;
	height: 20px;
	margin: 2px auto;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #fff;
}

.org-open-up-html {
	cursor: pointer;
	height: 20px;
	margin: 2px auto;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #333;
}

.org-open-down-html {
	cursor: pointer;
	height: 20px;
	margin: 2px auto;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #333;
}


/*自定义节点基础样式*/

.root_div .node-users {
	/*cursor: move;*/
}

.root_div .node>span {
	max-width: 200px;
	cursor: pointer;
	overflow: hidden;
	min-width: 40px;
	display: block;
	padding: 2px 10px;
	white-space:nowrap;
}


/*竖线条常规样式*/

.root_div .vertical-line-normal {
	background: #3CAEE4;
	height: 20px;
	width: 1px;
}


/*横线条常规样式*/

.root_div .transverse-line-normal {
	background: #3CAEE4;
	height: 1px;
}


/*节点常规样式*/

.root_div .node-normal {
	margin: 0px 20px;
	color: #fff;
	background: #3caee4;
}


/*线条常规样式*/

.root_div .line {
	padding: 0px;
	display: block;
	margin: 0 auto;
}


/*横线条基础样式*/

.root_div .transverse-line-c {
	width: 100%;
}


/*横线条基础样式*/

.root_div .transverse-line-s {
	float: right;
	width: 50%;
}


/*横线条基础样式*/

.root_div .transverse-line-e {
	float: left;
	width: 50%;
}


/*主题样式*/

.root_div .node-red {
	margin: 0px 20px;
	color: #fff;
	background: red;
}

.root_div .vertical-line-red {
	background: #ff1942;
	height: 20px;
	width: 1px;
}

.root_div .transverse-line-red {
	background: #ff1942;
	height: 1px;
}

.root_div .node-green {
	margin: 0px 20px;
	color: #fff;
	background: #1ce45a;
}

.root_div .vertical-line-green {
	background: #1ce45a;
	height: 20px;
	width: 1px;
}

.root_div .transverse-line-green {
	background: #1ce45a;
	height: 1px;
}

.root_div .node-black {
	margin: 0px 20px;
	color: #fff;
	background: #000000;
}

.root_div .vertical-line-black {
	background: #000000;
	height: 20px;
	width: 1px;
}

.root_div .transverse-line-black {
	background: #000000;
	height: 1px;
}

.root_div .node-gray {
	margin: 0px 20px;
	color: #fff;
	background: #6f6f6f;
}

.root_div .vertical-line-gray {
	background: #6f6f6f;
	height: 20px;
	width: 1px;
}

.root_div .transverse-line-gray {
	background: #6f6f6f;
	height: 1px;
}