<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>转账日志</title>
        <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/centStyle.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.showLoading.css" />
        <script src="__STATIC__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <header class="mui-bar mui-bar-nav myAssetTop">
            <a class="mui-action-back mui-icon icon-font mui-pull-left">&#xe95b;</a>
            <h1 class="mui-title">
                转账日志
            </h1>
        </header>
        <div class="raisenavigTop">
            <div class="df">
                <div class="fx1 myBankNav likeA" data-url="{:U('BlockChange/indexChange')}">
                    全部
                </div>
                <div class="fx1 myBankNav likeA" data-url="{:U('BlockChange/toChange')}">
                    买入
                </div>
                <div class="fx1 myBankNav myBankNavBG likeA" data-url="{:U('BlockChange/changeOut')}">
                    转出列表
                </div>
            </div>
        </div>
        <div class="mui-content">
            <ul class="tradparUl">
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
                <li class="tradparLi df">
                    <div class="tradparLiimg"><img src="__STATIC__/centImages/k002_4.png" alt=""></div>
                    <div class="fx1">
                        <div class="tradparLitx">交易完成</div>
                        <div class="tradparLitime">2018-12-30</div>
                    </div>
                    <div class="tradparLishu_4">$34.45</div>
                </li>
            </ul>
        </div>
        <script src="__STATIC__/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/js/mui.showLoading.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/js/style.js" type="text/javascript" charset="utf-8"></script>
    </body>

</html>